<div layout="column" layout-fill ng-controller="MainController as MainCtrl">
  <md-toolbar class="md-medium-tall" layout-align="center center" layout="row" ng-if="MainCtrl.showToolbars" md-colors="::{backgroundColor: 'primary-50', color: 'primary-900'}" md-whiteframe="5">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button menu-button" aria-label="menu" hide-gt-sm show-md ng-click="MainCtrl.toggleMenu()">
        <i class="material-icons">menu</i>
      </md-button>
      <span flex hide-gt-sm show-md></span>
      <md-button aria-label="main" href="/" class="no-hover">
        <img class="png-icon main-logo" flex src="./assets/images/logo-hallocasa.png">
      </md-button>
      <span flex hide-gt-sm show-md></span>
      <div hide-md hide-sm hide-xs layout="row" flex>
        <div layout="row" flex="20">
          <md-button ng-click="MainCtrl.goTo('/property/browser')" class="bold-hover">
            {{'Properties.title.label' | translate}}
          </md-button>
          <md-button ng-click="MainCtrl.goTo('/profile/browser')" class="bold-hover">
            {{'Common.Label.BrowseProfiles' | translate}}
          </md-button>
        </div>
        <span flex></span>
        <div layout="row" flex="50" layout-align="end">
          <div>
            <ng-translate-language-select></ng-translate-language-select>
          </div>
          <div>
            <currency-select></currency-select>
          </div>
          <md-button ng-click="MainCtrl.launchLoginDialog($event)" ng-if="!MainCtrl.isAuthenticated()" class="bold-hover">
            {{'Header.Login.Button' | translate}}
          </md-button>
          <md-button class="md-primary md-raised" ng-click="MainCtrl.launchRegisterDialog($event)" ng-if="!MainCtrl.isAuthenticated()">
            {{'Header.SignUp.Button' | translate}}
          </md-button>
          <div>
            <md-menu ng-if="MainCtrl.isAuthenticated()" layout-fill layout="row" layout-align="center stretch">
              <md-button ng-click='$mdMenu.open($event)' class="bold-hover">
                <span>{{MainCtrl.getCurrentUserIdentifier()}}</span>
              </md-button>
              <md-menu-content>
                <md-menu-item>
                  <md-button ng-click="MainCtrl.goTo('/profile/my-profile', false)">
                    {{'GlobalMenu.GoToProfile' | translate}}
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="MainCtrl.logout()">
                    {{'Header.Logout.Button' | translate}}
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
        </div>
      </div>
    </div>
  </md-toolbar >
  <loading></loading>
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-whiteframe-4dp md-tall" layout="row">
      <h1 class="md-toolbar-tools">Hallo Casa</h1>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="MainCtrl.toggleMenu()" aria-label="close">
        <i class="fa fa-close"></i>
      </md-button>
    </md-toolbar>
    <md-content layout-padding>
      <md-list flex>
        <md-subheader class="md-no-sticky">{{'Label.Menu' | translate}}</md-subheader>
        <md-list-item md-ink-ripple ng-click="MainCtrl.goTo('/property/browser', true)" scroll-on-click>
          <p> {{'Properties.title.label' | translate}}</p>
        </md-list-item>
        <md-list-item md-ink-ripple ng-click="MainCtrl.goTo('/profile/browser', true)">
          <p> {{'Common.Label.BrowseProfiles' | translate}}</p>
        </md-list-item>
        <md-list-item md-ink-ripple ng-click="MainCtrl.launchLoginDialog($event)" ng-if="!MainCtrl.isAuthenticated()">
          <p> {{'Header.Login.Button' | translate}}</p>
        </md-list-item>
        <md-list-item>
          <md-button flex class="md-raised" ng-click="MainCtrl.launchRegisterDialog($event)" ng-if="!MainCtrl.isAuthenticated()">
            {{'Header.SignUp.Button' | translate}}
          </md-button>
        </md-list-item>
        <md-list-item class="menu-item-left-align">
          <md-menu ng-if="MainCtrl.isAuthenticated()" flex>
            <md-button ng-click='$mdMenu.open($event)'>
              <div>{{MainCtrl.getCurrentUserIdentifier()}}</div>
            </md-button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="MainCtrl.goTo('/profile/my-profile', true)">
                  {{'GlobalMenu.GoToProfile' | translate}}
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="MainCtrl.logout()">
                  {{'Header.Logout.Button' | translate}}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-list-item>
        <md-list-item>
          <ng-translate-language-select class="menu-item-left-align"></ng-translate-language-select>
        </md-list-item>
        <md-list-item>
          <currency-select class="menu-item-left-align"></currency-select>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>
  <md-content flex id="mainContainer">
    <md-content ng-view flex layout="column" class="ng-view-container"></md-content>
    <md-toolbar ng-class="{'md-xl': MainCtrl.screenIsSmall}" ng-if="MainCtrl.showToolbars">
      <div layout="column" layout-gt-sm="row" flex layout-align="center center">
        <span layout-margin></span>
        <div flex layout="column" class="md-subhead" flex-order-sm="1" flex-order-xs="1">
          <div layout="row" layout-align-sm="center" layout-align-xs="center">
            <md-button ng-click="MainCtrl.launchPrivacyStatementDialog()">
              {{'Common.Label.PrivacyStatement' | translate}}
            </md-button>
          </div>
          <div layout="row">
            <md-button target="_blank" ng-href="{{MainCtrl.blogRedirection('buyProcess')}}">
              {{'BuyProcessPage.Menu.Label.Content' | translate}}
            </md-button>
            <md-button target="_blank" ng-href="{{MainCtrl.blogRedirection('blog')}}">
              {{'Common.Label.Blog' | translate}}
            </md-button>
          </div>
          
        </div>

        <md-button class="md-icon-button" aria-label="go up" flex-order-sm="0" flex-order-xs="0" ng-click="MainCtrl.goUp()">
          <i class="material-icons">arrow_upward</i>
        </md-button>
        <div flex layout="column" flex-order-sm="3" flex-order-xs="3">
          <br hide-gt-sm show-sm show-xs>
          <div layout="row" layout-align="end center">
            <md-button target="_blank" ng-href="https://twitter.com/hallocasam" class="md-icon-button" aria-label="Twitter">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </md-button>
            <md-button target="_blank" ng-href="https://www.facebook.com/hallo.csa" class="md-icon-button" aria-label="Facebook">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </md-button>
            <md-button target="_blank" ng-href="https://www.linkedin.com/company-beta/4551922" class="md-icon-button" aria-label="Linkedin">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </md-button>
            <md-button target="_blank" ng-href="https://www.youtube.com/channel/UC1fgrcMyNZvxRcht7K-W07w" class="md-icon-button" aria-label="Youtube">
              <i class="fa fa-youtube" aria-hidden="true"></i>
            </md-button>
          </div>
          <div layout="row" layout-align="end center">
            <a class="md-button" href="mailto:contact@hallocasa.com">contact@hallocasa.com</a>
          </div>
        </div>
      </div>
    </md-toolbar>
    <div layout="row" layout-align="center" layout-padding>
      <span> <b>© 2017</b> HalloCasa {{MainCtrl.appVersion}}, All Rights Reserved</span>
    </div>
  </md-content>
</div>
