<md-card>
  <md-card-title layout="row" layout-align="space-between start">
    <md-card-title-media>
      <div class="md-media-md card-media">
        <img
          ng-src="{{profile.userImage}}"
          alt="{{ profile.firstName + ' '+ profile.lastName }}"
          spinkit-image-preloader="cube-grid-spinner"
        >
      </div>
      <span flex></span>
    </md-card-title-media>
    <md-card-title-text>
      <span class="md-headline">{{profile.firstName + ' '+ profile.lastName}}</span>

      <span class="md-subhead" hide-gt-sm hide-xs>
                  {{profile.city.name | unicode}}, {{profile.country.name | unicode}}
                </span>

      <div layout="row" class="md-subhead" hide-sm>
        <item-list
          tablet-items="2"
          desktop-items="3"
          list="profile.userLanguages"
          label-attribute="'language.name'"
        ></item-list>
      </div>
      <div layout="row">
        <div class="md-subhead" flex-gt-sm="20" flex-gt-xs="30" flex-xs="50">
          <item-list
            tablet-items="2"
            desktop-items="3"
            list="profile.userTypes"
            label-attribute="'lang'"
            translate-label="true"
            display="column"
          ></item-list>
        </div>
        <div class="md-subhead" flex-gt-sm="20" flex-gt-xs="30" flex-xs="50" hide-gt-sm hide-xs>
          <item-list
            tablet-items="2"
            desktop-items="3"
            list="profile.userLanguages"
            label-attribute="'language.name'"
            display="column"
          ></item-list>
        </div>
        <div layout="column" hide-sm flex>
          <text-limiter text="profile.description" tablet-limit="200"></text-limiter>
        </div>
      </div>

    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <div class="md-padding">
      <span class="md-subhead" hide-sm>{{profile.city.name | unicode}}, {{profile.country.name | unicode}}</span>
      <text-limiter flex hide-gt-sm hide-xs text="profile.description" tablet-limit="200"></text-limiter>
    </div>
  </md-card-content>
</md-card>
