<md-card class="profile-card">
  <md-card-title layout="row" layout-align="space-between start">
    <md-card-title-media>
      <div class="md-media-md card-media">
        <img
          ng-src="{{ profile.userImage }}"
          alt="{{ profile.firstName + ' '+ profile.lastName }}"
          spinkit-image-preloader="cube-grid-spinner"
          class="profile-image"
        >
      </div>
      <span flex></span>
    </md-card-title-media>
    <md-card-title-text>
      <div layout="row">
        <span class="md-headline">{{profile.firstName + ' '+ profile.lastName}}</span>
      </div>
      <div layout="row">
        <div layout="column" flex-gt-sm="40" flex-md="100">
          <span>{{profile.city.name | unicode}}, {{profile.country.lang | translate}}</span>
          <div layout="row">
            <item-list
              tablet-items="2"
              desktop-items="3"
              list="profile.userLanguages"
              label-attribute="'language.name'"
              display="row"
            ></item-list>
          </div>
          <br>
          <div layout="row">
            <b>
              <item-list
                tablet-items="2"
                desktop-items="3"
                list="profile.userTypes"
                display="row"
                label-attribute="'lang'"
                translate-label="true"
                translate-val="'global.yes' | translate"
              ></item-list>
            </b>
          </div>
        </div>
        <span flex="5" hide-md></span>
        <div layout="column" hide-sm hide-xs>
          <text-limiter flex text="profile.description" tablet-limit="200"></text-limiter>
        </div>
      </div>
    </md-card-title-text>
  </md-card-title>
</md-card>
