<md-card class="vm.profile-card">
  <md-card-title layout="row" layout-align="space-between start">
    <md-card-title-media>
      <div class="md-media-sm card-media">
        <img
          ng-src="{{ vm.profile.userImage }}"
          alt="{{ vm.profile.firstName + ' '+ vm.profile.lastName }}"
          spinkit-image-preloader="cube-grid-spinner"
          class="profile-image"
        >
      </div>
      <span flex></span>
    </md-card-title-media>
    <md-card-title-text>
      <span class="md-headline">{{vm.profile.firstName + ' '+ vm.profile.lastName}}</span>
      <span>{{vm.profile.city.name | unicode}}</span>
      <div layout="row">
        <item-list
          tablet-items="2"
          desktop-items="3"
          list="vm.profile.userLanguages"
          label-attribute="'language.name'"
          display="row"
        ></item-list>
      </div>
      <br>
      <div layout="row">
        <b>
          <item-list
            tablet-items="2"
            desktop-items="3"
            list="vm.profile.userTypes"
            display="row"
            label-attribute="'lang'"
            translate-label="true"
            translate-val="'global.yes' | translate"
          ></item-list>
        </b>
      </div>
      <br>
      <div layout="row">
        <b>{{'PropertyBrowse.Property.email' |  translate}}: &nbsp;</b>
        <a ng-href="mailto: {{vm.profile.email}}">{{vm.profile.email}}</a>
      </div>
    </md-card-title-text>
  </md-card-title>
</md-card>
