<md-card class="profile-card">
  <md-card-title layout="row" layout-align="space-between start">
    <md-card-title-media>
      <div class="md-media-sm card-media">
        <img
          ng-src="{{ profile.userImage }}"
          alt="{{ profile.firstName + ' '+ profile.lastName }}"
          spinkit-image-preloader="cube-grid-spinner"
        >
      </div>
      <span flex></span>
    </md-card-title-media>
    <md-card-title-text>
      <span class="md-headline">{{profile.firstName + ' '+ profile.lastName}}</span>
      <span>{{profile.city.name | unicode}}</span>
      <div layout="row">
        <item-list
          tablet-items="2"
          desktop-items="3"
          list="profile.userLanguages"
          label-attribute="'language.name'"
          display="row"
        ></item-list>
      </div>
      <br>
      <div layout="row">
        <b>
          <item-list
            tablet-items="2"
            desktop-items="3"
            list="profile.userTypes"
            display="row"
            label-attribute="'lang'"
            translate-label="true"
          ></item-list>
        </b>
      </div>
    </md-card-title-text>
  </md-card-title>
</md-card>
