<div ng-switch="fieldType.id">

  <md-input-container class="md-block">
    <label>{{fieldInformation.lang | translate}}</label>
    <input
      ng-switch-when="standard_field"
      name="{{fieldInformation.name}}"
      title="{{fieldInformation.lang | translate}}"
      ng-model="fieldInformation.fieldValueList[0].text.intVal"
      type="number"
      ng-required="required"
      ng-min="fieldInformation.validationsParams.minlength"
      ng-max="fieldInformation.validationsParams.maxlength"
    >
    <input
      ng-switch-when="double_field"
      name="{{fieldInformation.name}}"
      title="{{fieldInformation.lang | translate}}"
      step="0.5"
      ng-model="fieldInformation.fieldValueList[0].text.doubleVal"
      type="number"
      ng-required="required"
      ng-min="fieldInformation.validationsParams.minlength"
      ng-max="fieldInformation.validationsParams.maxlength"
    >
    <input
      ng-switch-when="scope_dependent_field"
      name="{{fieldInformation.name}}"
      title="{{fieldInformation.lang | translate}}"
      ng-model="fieldInformation.fieldValueList[fieldScope.identifier].data2.doubleVal"
      type="number"
      ng-required="required"
      ng-min="fieldInformation.validationsParams.minlength"
      ng-max="fieldInformation.validationsParams.maxlength"
    >

    <ng-messages-generator
      form="form"
      input-name="{{fieldInformation.name}}"
      validators="{{fieldInformation.validations}}"
      messages-params="fieldInformation.messagesParams"
    ></ng-messages-generator>
  </md-input-container>
</div>
