<div ng-switch="fieldType.id">

  <md-input-container class="md-block" ng-if="!readonly">
    <label>{{fieldInformation.lang | translate}}</label>
    <input
      ng-switch-when="standard_field"
      name="{{fieldName}}"
      title="{{fieldInformation.lang | translate}}"
      ng-model="fieldInformation.fieldValueList[0].text.intVal"
      type="number"
      ng-required="required"
      ng-min="fieldInformation.validationsParams.minlength"
      ng-max="fieldInformation.validationsParams.maxlength"
    >
    <input
      ng-switch-when="double_field"
      name="{{fieldName}}"
      title="{{fieldInformation.lang | translate}}"
      step="0.5"
      ng-model="fieldInformation.fieldValueList[0].text.doubleVal"
      type="number"
      ng-required="required"
      ng-min="fieldInformation.validationsParams.minlength"
      ng-max="fieldInformation.validationsParams.maxlength"
    >
    <input
      ng-switch-when="scope_dependent_field"
      name="{{fieldName}}"
      title="{{fieldInformation.lang | translate}}"
      ng-model="fieldInformation.fieldValueList[fieldScope.identifier].data2.doubleVal"
      type="number"
      ng-required="required"
      ng-min="fieldInformation.validationsParams.minlength"
      ng-max="fieldInformation.validationsParams.maxlength"
    >

    <ng-messages-generator
      form="form"
      input-name="{{fieldName}}"
      validators="{{fieldInformation.validations}}"
      messages-params="fieldInformation.messagesParams"
    ></ng-messages-generator>
  </md-input-container>

  <div ng-if="readonly && (
    fieldInformation.fieldValueList[0].text.intVal > 0 ||
    fieldInformation.fieldValueList[0].text.doubleVal > 0 ||
    fieldInformation.fieldValueList[fieldScope.identifier].data2.doubleVal > 0)"
  >
    <b>
      <span translate>{{fieldInformation.lang}}:&nbsp;</span>
      <md-tooltip>
        <span translate>{{fieldInformation.tooltipLang}}</span>
      </md-tooltip>
    </b>
    <span ng-switch-when="standard_field"> {{fieldInformation.fieldValueList[0].text.intVal}}</span>
    <span ng-switch-when="double_field"> {{fieldInformation.fieldValueList[0].text.doubleVal}}</span>
    <span ng-switch-when="scope_dependent_field"> {{fieldInformation.fieldValueList[fieldScope.identifier].data2.doubleVal}}</span>
  </div>
</div>
