<md-content>
  <div layout="row" layout-align="center">
    <header class="header-image"></header>
    <div flex-gt-sm="90" flex-gt-xs="90" flex-xs="100">
      <md-card>
        <md-card-title layout="row" layout-align="center center">
          <md-card-title-media>
            <div class="md-media-lg card-media">
              <img
                ng-src="{{vm.userData.profile.image}}"
                alt="{{ vm.profile.firstName }}"
                spinkit-image-preloader='cube-grid-spinner'
              >
            </div>
          </md-card-title-media>
          <md-card-title-text hide-xs>
            <span class="md-headline">{{vm.userData.profile.firstName}} {{vm.userData.profile.lastName}}</span>
            <div layout="row" layout-align="start center">
              <md-button class="md-icon-button md-primary" aria-label="social" ng-href="{{vm.userData.profile.linkedIn}}" ng-if="vm.userData.profile.linkedIn">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </md-button>
              <a ng-if="vm.userData.profile.webSite" ng-href="{{vm.userData.profile.webSite}}">
                {{'Profile.Data.Website.Label' | translate}}
              </a>
            </div>
            <div layout="row" layout-align="space-between">
              <div class="md-subhead" layout="column">
                <item-list
                  tablet-items="2"
                  desktop-items="3"
                  display="column"
                  list="vm.userData.profile.userLanguages"
                  label-attribute="'language.name'"
                ></item-list>
              </div>
              <div class="md-subhead" layout="column">
                <item-list
                  tablet-items="2"
                  desktop-items="3"
                  display="column"
                  list="vm.userData.profile.userTypes"
                  label-attribute="'lang'"
                  translate-label="true"
                  translate-val="'global.yes' | translate"
                ></item-list>
              </div>
              <span flex-gt-sm="50" flex-gt-xs="30" flex-xs="0"></span>
            </div>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div hide-gt-xs>
            <span class="md-headline">{{vm.userData.profile.firstName}} {{vm.userData.profile.lastName}}</span>
            <div layout="row" layout-align="start center">
              <md-button class="md-icon-button md-primary" aria-label="social" ng-href="{{vm.userData.profile.linkedIn}}" ng-if="vm.userData.profile.linkedIn">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </md-button>
              <a ng-if="vm.userData.profile.webSite" ng-href="{{vm.userData.profile.website}}">{{vm.userData.profile.website}}</a>
            </div>
            <div layout="row" layout-align="space-between">
              <div class="md-subhead" layout="column">
                <item-list
                  tablet-items="2"
                  desktop-items="3"
                  display="column"
                  list="vm.userData.profile.userLanguages"
                  label-attribute="'language.name'"
                ></item-list>
              </div>
              <div class="md-subhead" layout="column">
                <item-list
                  tablet-items="2"
                  desktop-items="3"
                  display="column"
                  list="vm.userData.profile.userTypes"
                  label-attribute="'lang'"
                  translate-label="true"
                ></item-list>
              </div>
              <span flex-gt-sm="50" flex-gt-xs="30" flex-xs="0"></span>
            </div>
          </div>
          <br>
          <div layout-gt-sm="row" layout-gt-xs="column" layout-xs="column">
            <div layout="column" flex-gt-sm="20" flex-gt-xs="100" flex-xs="100">
              <b>{{'Profile.Data.Country.Label' | translate}}: </b> {{vm.userData.profile.country.lang | translate}}
              <b>{{'Profile.Data.State.Label' | translate}}: </b> {{vm.userData.profile.state.name | unicode}}
              <b>{{'Profile.Data.City.Label' | translate}}: </b> {{vm.userData.profile.city.name | unicode}}
              <br>
              <div layout="column" ng-if="vm.userData.profile.telephonePrefix.prefix">
                <b>{{'Profile.Data.Telephone.Label' | translate}}</b>
                ({{vm.userData.profile.telephonePrefix.prefix}}) {{vm.userData.profile.telephoneNumber}}
              </div>
              <div layout="row" layout-align="start center" ng-if="vm.userData.profile.skype">
                <div layout="column">
                  <b>{{'Profile.Data.Skype.Label' | translate}}</b>
                  {{vm.userData.profile.skype}}
                </div>
                <md-button class="md-icon-button md-primary" aria-label="social" ng-href="skype:{{vm.userData.profile.skype}}?call">
                  <i class="fa fa-skype fa-2x" aria-hidden="true"></i>
                </md-button>
              </div>
            </div>
            <div layout="column" flex>
              <div>
                <md-input-container class="md-block">
                  <label>{{"Profile.Data.Languages.Label" | translate}}</label>
                  <md-select
                    ng-model="vm.selectedDescription"
                    aria-label="Select language"
                  >
                    <md-option ng-repeat="descriptionLanguage in vm.userData.profile.userDescriptions" ng-value="descriptionLanguage">
                      {{descriptionLanguage.language.name | unicode}}
                    </md-option>
                  </md-select>
                </md-input-container>
                <br>
                <v-accordion class="vAccordion--default">
                  <v-pane expanded>
                    <v-pane-header>
                      {{'Profile.Data.Description.Label' | translate}}
                    </v-pane-header>
                    <v-pane-content>
                      {{vm.selectedDescription.value | unicode}}
                    </v-pane-content>
                  </v-pane>
                </v-accordion>
              </div>
            </div>
          </div>

        </md-card-content>
      </md-card>


      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{'Properties.title.label' | translate}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <h1 ng-if="vm.userData.properties.length === 0">
            {{'Properties.none.property' | translate}}
          </h1>

          <div layout="column" layout-align="center center">
            <div class="landing-cards-group">
              <div ng-if="vm.userData.properties.length > 0">
                <div layout="row" layout-sm="column" layout-align="center" layout-wrap>
                  <div dir-paginate="property in vm.userData.properties | itemsPerPage: 12" flex-gt-sm="33" flex-gt-xs="50" flex-xs="100">
                    <div flex="100" layout="row" layout-align="center">
                      <a
                        ng-include="'app/property/templates/properties-card.html'"
                        ng-href="/property?id={{property.id}}"
                        class="disable-hyperlinks-style"
                      ></a>
                    </div>
                  </div>
                </div>
                <div layout="row" layout-align="center">
                  <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</md-content>
