.hc-profile-browse-panel-complete{
	background-color: #F5F6DD;
	height:auto;
	display:table;
	margin:25px 0px;
	width:100%;
	cursor:pointer;
}
.hc-profile-browse-panel-lite{
	background-color: #F5F6DD;
	height:auto;
	display:table;
	margin:25px 0px;
	width:100%;
}
.hc-profile-browse-cell{
	display:inline-block;
	height:350px;
}