/*browser-explorer*/
.hc-profile-browse-panel-complete {
	height: auto;
	display: table;
	margin: 25px 0px;
	width: 100%;
	cursor: pointer;
	border: 1px solid #ccc;
}

.sub-card {
	text-align: left;
}

.hc-card-profile.hc-profile-browse-panel-complete .card-description {
	text-align: left;
	margin-top: 66px;
}

.hc-card-profile.hc-profile-browse-panel-complete .img-profile {
	    width: 244px;
    text-align: left;
    padding: 0px 10px 10px 10px;
    height: 197px;
}

.hc-card-profile.hc-profile-browse-panel-complete .img-profile img {
	width: 100%;
}

.hc-card-profile.hc-profile-browse-panel-complete .name-content {
	font-size: 24px;
}

.hc-card-profile.hc-profile-browse-panel-complete .languaje-card {
	padding-left: 15px;
	padding-bottom: 10px;
}

.hc-card-profile.hc-profile-browse-panel-complete .content-info-init {
	width: 20%;
	float: left;
}

.hc-card-profile.hc-profile-browse-panel-complete .name-card {
	width: 100% !important;
	text-align: left;
	float: left;
	margin-bottom: 20px;
	font-size: 30px;
}

.hc-card-profile.hc-profile-browse-panel-complete .info-card {
	width: 100% !important;
	text-align: left;
	float: left;
}

.hc-card-profile.hc-profile-browse-panel-complete .sub-card-languaje,.hc-card-profile.hc-profile-browse-panel-complete .sub-card-service
	{
	width: 50% !important;
	float: left;
}

.hc-card-profile.hc-profile-browse-panel-complete .label-city {
	font-size: 17px;
	margin-left: 15px;
}

.hc-card-profile.hc-profile-browse-panel-complete .content-btn-more {
	display: none;
}

/*fin browser-explorer*/

/*index*/
.hc-profile-browse-panel-lite {
	background-color: #FFFFFF;
	height: auto;
	display: inline-block;
	float: left;
	width: 42%;
}

.card-image,card-info {
	width: 100%
}

.hc-card-profile.hc-profile-browse-panel-lite .card-description {
	display: none;
}

.hc-card-profile.hc-profile-browse-panel-lite .img-profile {
	width: 50%;
	padding: 10px;
	text-align: left;
	float:left;
}

.hc-card-profile.hc-profile-browse-panel-lite .img-profile img {
	width: 100%;    height: 225px;
}

.hc-card-profile.hc-profile-browse-panel-lite .content-info-init {
	    width: 195px;
    padding: 10px;
    text-align: left;
    float: left;
    height: 200px;
}

.hc-card-profile.hc-profile-browse-panel-lite .sub-card {
	width: 100% !important;
	float: left;
}

.hc-card-profile.hc-profile-browse-panel-lite .name-card {
	width: 100% !important;
	text-align: left;
	margin-bottom: 15px;
	font-size: 25px;
}

.hc-card-profile.hc-profile-browse-panel-lite .info-card {
	width: 100% !important;
	text-align: left;
}

.hc-card-profile.hc-profile-browse-panel-lite .sub-card-languaje
{
	width: 50%;
	float: left;
	font-size: 17px;
}

.hc-card-profile.hc-profile-browse-panel-lite .sub-card-service
	{
	width: 50% !important;
	float: left;
	font-size: 17px;
}

.btn-more {
	text-align: center;
}

.hc-card-profile.hc-profile-browse-panel-lite .label-city {
	font-size: 17px;
	margin-left: 15px;
	text-align: left;
}

/*fin index*/