/hallocasa-web/target/*
/mailchimp-api/target/*
/hallocasa-ejb/target/*
/hallocasa-ear/target/*
/hallocasa-commons/target/*
/hallocasa-theme/target/*
*.zargo~
*.sql~
*/nb-configuration.xml
/hallocasa-theme/target/
/avilbol-theme/target/
/.metadata/*