*/target/*
*/.settings/*
/.metadata/*
*.zargo~
*.sql~
*/nb-configuration.xml
/hallocasa-ejb/src/main/resources/hallocasa.config.properties
*/bin/target/*
*/.project/*
/hallocasa-ear/.project
/hallocasa-ear/.settings/*
/hallocasa-ejb/.classpath