*/target/*
*/.settings/*
/.metadata/*
*.zargo~
*.sql~
*/nb-configuration.xml
/hallocasa-ejb/src/main/resources/hallocasa.config.properties
*/bin/target/*
*/.project/*
*/.project
*.class
.settings/
bin/
.recommenders/
db/scripts/*/executed