md-dialog(arial-label="new languages")
    md-toolbar
        .md-toolbar-tools
            h3(ng-show="!edit") New Translation
            h3(ng-show="edit") Edit Translation
            span(flex)
            md-button.md-icon-button(ng-click="closeModal()")
                i.material-icons close
    md-dialog-content(layout="row" style="padding: 10px")            
        form(name="formTranslation" ng-cloak flex novalidate)
            md-input-container.md-block
                label Label
                input(type="text" name="pnemonic" ng-model="translation.pnemonic" required md-maxlength="100" ng-disabled="edit")
                div(ng-messages="formTranslation.pnemonic.$error" ng-show="formTranslation.pnemonic.$dirty")
                    div(ng-messages="required") This is required!    
                    div(ng-messages="md-maxlength") That's too long!  

            md-input-container.md-block
                label Desciption
                input(type="text" name="description" ng-model="translation.description")
                //- div(ng-messages="formTranslation.description.$error" ng-show="formTranslation.description.$dirty")
                    div(ng-messages="required") This is required!   
            md-input-container.md-block
                label English Translation
                input(type="text" name="enUS" ng-model="translation.enUS" required)
                div(ng-messages="formTranslation.enUS.$error" ng-show="formTranslation.enUS.$dirty")
                    div(ng-messages="required") This is required!   
            md-input-container.md-block
                label Spanish Translation
                input(type="text" name="enUS" ng-model="translation.esES" required)
                div(ng-messages="formTranslation.esES.$error" ng-show="formTranslation.esES.$dirty")
                    div(ng-messages="required") This is required!   
            md-input-container.md-block
                label Deutsch Translation
                input(type="text" name="deDE" ng-model="translation.deDE" required)   
                div(ng-messages="formTranslation.deDE.$error" ng-show="formTranslation.deDE.$dirty")
                    div(ng-messages="required") This is required!                
            .footer(layout="row")
                md-button(ng-click="closeDialog()") Close
                md-button(type="submit" ng-click="saveTranslation()" ng-disabled="formTranslation.$invalid") Save
        
    //- md-dialog-actions(layout="row")
        md-button(ng-click="closeDialog()") Close
        md-button( type="submit" ng-disabled="formTranslation.$invalid") Save