h3 Manage all Translations
md-button.md-secondary(ng-click="vm.newTranslation()") New Translation
//- md-content.md-padding
    md-tabs(md-selected="selectedIndex" md-border-bottom md-autoselect)
        md-tab(ng-repeat="tab in lenguages"
               label="{{tab.name}}")
            .tab-lenguage(class="tab{{$index%4}}" style="padding: 25px; text-align: center;")
                md-button.md-raised(ng-click="showPrerenderedDialog($event)") New Translation
                md-input-container.md-block(flex-gt-sm)
                        label Search
                        input(ng-model="language.search"
                                 name="name", 
                                 required)
                md-list-item.md-3-line(ng-repeat="translation in translations")
                    .md-list-item-text
                        h4 {{ translation.code }}
                        p Text: {{ translation.text }}
                    md-button.md-secondary(ng-click="editLenguage(lenguage, $event)") Edit
                    md-button.md-secondary(ng-click="deleteLenguage(lenguage)") Remove                 
                        //div(ng-messages="lenguageForm.name.$error",
                            ng-if="lenguageForm.name.$touched")
                            div(ng-message="required") Please enter a Name

//ng-map(center="[41,-87]" zoom="1" style="height: 500px;")
    info-window(id="foo" on-mouseover="mouseover()")
      div(ng-non-bindable)
        | Addres: {{ info.address }}
        br
        | Lat: {{anchor.getPosition().lat()}}
        br
        | Lng: {{anchor.getPosition().lng()}}

    marker(id="{{id}}" position="{{market.coords}}"  on-click="markerClick(event, id)" ng-repeat="(id, market) in markers")
md-card(style="margin:0px")
    md-input-container(style="margin:15px;")
        label Filter by search
        input(type="text" ng-model="filterName")
    div(ng-hide="true") {{(filteredItems = ( vm.locations | filter: filterName))}}


mdt-table(paginated-rows="{isEnabled: true, rowsPerPageValues: [20, 50, 100, 200, 500]}" mdt-row="{data: filteredItems, 'table-row-id-key': 'pnemonic', 'column-keys': [ 'pnemonic', 'description', 'enUS' ]}")
    mdt-header-row
        mdt-column(align-rule="left" column-sort="true") Label
        mdt-column(align-rule="left" column-sort="true") Edit
        mdt-column(align-rule="left" column-sort="true") Remove
    mdt-custom-cell(column-key="description" html-content="true")
        i(class="material-icons icon-select"  ng-click="clientScope.editTranslation(rowId)") edit
    mdt-custom-cell(column-key="enUS" html-content="true")
         i(class="material-icons icon-select" ng-click="clientScope.deleteTranslation(rowId)") delete