<div ng-switch="filterInformation.filter.options.type">
  <md-input-container class="md-block">
    <label translate>{{title}}</label>

    <md-select
      ng-switch-when="static_options"
      name="{{fieldName}}"
      title="{{title | translate}}"
      ng-model="selectedOptions"
      ng-disabled="!options || options.length === 0"
      aria-label="{{fieldName}}"
      placeholder="{{title | translate}}"
      ng-required="required"
      data-md-container-class="selectHeader"
      ng-change="emitSelectedOption(selectedOptions)"
    >
      <md-select-header class="select-header" ng-if="filterInformation.filter.filterType.useSearch">
        <input ng-model="search.data1"
               type="search"
               placeholder="{{'placeholder.search' | translate}}"
               class="header-searchbox md-text">
      </md-select-header>
      <md-option ng-repeat="option in options  | filter: search" ng-value="option" compile="option.tmplTranslate"></md-option>
    </md-select>
  </md-input-container>
</div>
