<md-content>
  <header md-whiteframe="5">
    <div class="header-image parallax"></div>
    <div class="intro-content">
      <h1 class="md-display-1 main-title">
        {{'PositionStatement.Title' | translate}}
      </h1>
      <hr>
      <h1 class="md-headline sub-title">
        {{'PositionStatement.SubTitle' | translate}}
      </h1>
    </div>
    <div class="header-map"></div>
  </header>

  <br><br>
  <div layout="column" layout-align="center center">
    <div class="landing-cards-group" layout-fill>
      <div ng-if="vm.properties.length > 0">
        <div layout="row" layout-margin>
          <h1 class="md-headline main-title">{{'landing.PropertiesTitle' | translate}}</h1>
        </div>
        <div layout="row" layout-align="center" layout-wrap>
          <div ng-repeat="property in vm.properties" flex-gt-sm="33" flex-gt-xs="50" flex-xs="100">
            <div flex="100" layout="row" layout-align="center">
              <a
                ng-include="'app/property/templates/properties-card.html'"
                ng-href="/property?id={{property.id}}"
                class="disable-hyperlinks-style"
              ></a>
            </div>
          </div>
        </div>
        <div layout="row" layout-align="center">
          <md-button class="md-raised md-primary" href="/property/browser">{{'landing.SeeMore' | translate}}</md-button>
        </div>
      </div>
    </div>
    <br><br><br>
    <div class="landing-cards-group" layout-fill>
      <div ng-if="vm.profiles.length > 0" layout-fill>
        <div layout="row">
          <h1 class="md-headline main-title">{{'landing.ProfilesTitle' | translate}}</h1>
        </div>
        <div layout="row" layout-wrap layout-align="center">
          <div ng-repeat="profile in vm.profiles" flex-gt-sm="33" flex-gt-xs="50" flex-xs="100">
            <a
              ng-include="'app/profiles/templates/profiles-card.html'"
              ng-href="/profile?id={{profile.id}}"
              class="disable-hyperlinks-style"
            ></a>
          </div>
        </div>
        <div layout="row" layout-align="center">
          <md-button class="md-raised md-primary" href="/profile/browser">{{'landing.SeeMore' | translate}}</md-button>
        </div>
      </div>
    </div>
  </div>
</md-content>
