<md-content>

  <header class="header-image">
    <div class="intro-content">
      <h1 class="md-display-1">
        {{'PositionStatement.Title' | translate}}
      </h1>
      <hr>
      <h1 class="md-headline">
        {{'PositionStatement.SubTitle' | translate}}
      </h1>
    </div>
  </header>
  <div ng-if="vm.properties.length > 0">
    <div layout="row" layout-sm="column" layout-align="center" layout-wrap>
      <div ng-repeat="property in vm.properties" flex-gt-sm="30" flex-gt-xs="45" flex-xs="100">
        <a
          ng-include="'app/property/templates/properties-card.html'"
          ng-href="/property?id={{property.id}}"
          class="disable-hyperlinks-style"
        ></a>
      </div>
    </div>
  </div>

  <md-divider ></md-divider>

  <div layout="row" layout-sm="column" layout-wrap layout-align="center">
    <div ng-repeat="profile in vm.profiles" flex-gt-sm="30" flex-gt-xs="45" flex-xs="100">
      <a
        ng-include="'app/profiles/templates/profiles-card.html'"
        ng-href="/profile?id={{profile.id}}"
        class="disable-hyperlinks-style"
      ></a>
    </div>
  </div>

</md-content>
