<div layout="row">
  <md-input-container class="md-icon-float md-block" flex="70" ng-if="!readonly">
    <label>{{fieldInformation.lang | translate}}</label>
    <md-icon md-font-set="material-icons"> attach_money </md-icon>
    <input
      name="{{fieldName}}"
      title="{{fieldInformation.lang | translate}}"
      ng-model="fieldInformation.fieldValueList[0].data2.doubleVal"
      type="number"
      ng-required="required"
    >
    <ng-messages-generator
      form="form"
      input-name="{{fieldName}}"
      validators="{{fieldInformation.validations}}"
    ></ng-messages-generator>
  </md-input-container>

  <md-input-container class="md-block" flex="30" ng-if="!readonly">
    <md-select
      name="{{fieldName}}"
      title="{{fieldInformation.lang | translate}}"
      ng-model="fieldInformation.fieldValueList[0].data1.intVal"
      ng-disabled="!options || options.length === 0"
      aria-label="{{fieldName}}"
      ng-required="required || fieldInformation.fieldValueList[0].data2.doubleVal > 0"
    >
      <md-option ng-repeat="option in options" ng-value="option.id">
        {{option.abbreviation}}
      </md-option>
    </md-select>
  </md-input-container>
  <div ng-if="readonly && price">
    <b>{{fieldInformation.lang | translate}}:&nbsp;</b>
    <span ng-bind-html="price | dynamicCurrency"></span>
  </div>
</div>
