<div layout="row">
  <md-input-container class="md-icon-float md-block" flex="70" ng-if="!readonly">
    <label>{{fieldInformation.lang | translate}}</label>
    <input
      name="{{fieldName}}"
      title="{{fieldInformation.lang | translate}}"
      ng-model="fieldInformation.fieldValueList[0].data2.doubleVal"
      type="number"
      ng-required="required"
    >
    <ng-messages-generator
      form="form"
      input-name="{{fieldName}}"
      validators="{{fieldInformation.validations}}"
    ></ng-messages-generator>
  </md-input-container>

  <md-input-container class="md-block" flex="30" ng-if="!readonly">
    <md-select
      name="{{fieldName}}"
      title="{{fieldInformation.lang | translate}}"
      ng-model="fieldInformation.fieldValueList[0].data1.intVal"
      ng-disabled="!options || options.length === 0"
      ng-if="!fieldInformation.fixCurrency"
      aria-label="{{fieldName}}"
      ng-required="required || fieldInformation.fieldValueList[0].data2.doubleVal > 0"
    >
      <md-option ng-repeat="option in options" ng-value="option.id">
        {{option.abbreviation}}
      </md-option>
    </md-select>
    <span ng-bind-html="abbreviation" ng-if="fieldInformation.fixCurrency"></span>
  </md-input-container>
  <div ng-if="readonly && price">
    <b>
      <span translate>{{fieldInformation.lang}}:&nbsp;</span>
      <!--<md-tooltip>-->
        <!--<span translate>{{fieldInformation.tooltipLang}}</span>-->
      <!--</md-tooltip>-->
    </b>
    <span ng-bind-html="price | dynamicCurrency"></span>
  </div>
</div>
