
<h3>Manage all Translations</h3>
<md-button class="md-secondary" ng-click="vm.newTranslation()">New Translation</md-button>
<!--ng-map(center="[41,-87]" zoom="1" style="height: 500px;")
info-window(id="foo" on-mouseover="mouseover()")
  div(ng-non-bindable)
    | Addres: {{ info.address }}
    br
    | Lat: {{anchor.getPosition().lat()}}
    br
    | Lng: {{anchor.getPosition().lng()}}

marker(id="{{id}}" position="{{market.coords}}"  on-click="markerClick(event, id)" ng-repeat="(id, market) in markers")
-->
<md-card style="margin:0px;">
  <md-input-container style="margin:15px;">
    <label>Filter by search</label>
    <input type="text" ng-model="filterName">
  </md-input-container>
  <div ng-hide="true">{{(filteredItems = ( vm.locations | filter: filterName))}}</div>
</md-card>
<mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [20, 50, 100, 200, 500]}" mdt-row="{data: filteredItems, 'table-row-id-key': 'pnemonic', 'column-keys': [ 'pnemonic', 'description', 'enUS' ]}">
  <mdt-header-row>
    <mdt-column align-rule="left" column-sort="true">Label</mdt-column>
    <mdt-column align-rule="left" column-sort="true">Edit</mdt-column>
    <mdt-column align-rule="left" column-sort="true">Remove</mdt-column>
  </mdt-header-row>
  <mdt-custom-cell column-key="description" html-content="true"><i class="material-icons icon-select" ng-click="clientScope.editTranslation(rowId)">edit</i></mdt-custom-cell>
  <mdt-custom-cell column-key="enUS" html-content="true"><i class="material-icons icon-select" ng-click="clientScope.deleteTranslation(rowId)">delete</i></mdt-custom-cell>
</mdt-table>