link(rel="stylesheet", href="assets/js/lib/angular-material/angular-material.min.css")
link(rel="stylesheet", href="assets/js/lib/angular-toastr/dist/angular-toastr.min.css")
link(rel="stylesheet", href="assets/js/lib/md-data-table/dist/md-data-table-style.css")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
link(rel="stylesheet", href="assets/css/app.css")