<v-accordion class="vAccordion--default">
  <v-pane expanded>
    <v-pane-header>
      {{'Profile.Data.Languages.Label' | translate}}
    </v-pane-header>

    <v-pane-content>
      <div ng-if="!vm.isReadOnly">
        <checkbox-list name="propertiesLanguages" data="vm.languages" ng-model="vm.property.languages" laptop-cols=5 require-once="true"></checkbox-list>
        <ng-messages-generator
          form="createPropertyForm"
          input-name="propertiesLanguages"
          validators="requireOnce"
        ></ng-messages-generator>
      </div>
      <div ng-if="vm.isReadOnly">
        <md-chips ng-model="vm.property.languages" readonly="true" md-removable="false"></md-chips>
      </div>
    </v-pane-content>
  </v-pane>
  <v-pane ng-if="vm.property.languages.length > 0">
    <v-pane-header>
      {{'Profile.Data.Description.Label' | translate}}
    </v-pane-header>
    <v-pane-content>
      <md-input-container class="md-block" flex-gt-sm="50" flex-gt-xs="50" flex-xs="100">
        <label>{{'Profile.Data.Languages.MainLanguage.Label' | translate}}</label>
        <md-select name="mainLanguage" ng-model="vm.property.mainLanguage" required>
          <md-option ng-repeat="language in vm.property.languages" value="{{language}}" ng-disabled="vm.isReadOnly">
            {{language}}
          </md-option>
        </md-select>
        <ng-messages-generator
          form="createPropertyForm"
          input-name="mainLanguage"
          validators="required"
        ></ng-messages-generator>
      </md-input-container>
      <div layout="row" layout-wrap flex >
        <div flex-gt-sm="50" flex-gt-xs="50" flex-xs="100" ng-repeat="description in vm.property.languages">
          <v-accordion class="vAccordion--default">
            <v-pane>
              <v-pane-header>
                <span ng-if="vm.property[description].title">
                  {{vm.property[description].title}}
                </span>
                <span ng-if="!vm.property[description].title">
                  {{'propertyWizardPage.propertyInEdition.propertyBasicInfo.title' | translate}}
                </span>
                ({{description}})
              </v-pane-header>
              <v-pane-content>
                <md-input-container class="md-block">
                  <label>{{'propertyWizardPage.propertyInEdition.propertyBasicInfo.title' | translate}}</label>
                  <input name="title{{description}}" ng-model="vm.property.description[description].title" type="text" ng-required="true" ng-minlength="2" ng-maxlength="45" ng-readonly="vm.isReadOnly">
                  <ng-messages-generator
                    form="createPropertyForm"
                    input-name="title{{description}}"
                    validators="required"
                  ></ng-messages-generator>
                </md-input-container>
                <md-input-container class="md-block">
                  <label>{{'propertyWizardPage.property.description' | translate}} </label>
                  <textarea name="description{{description}}" ng-model="vm.property.description[description].propertyDescription" md-maxlength="500" md-minlength="20" rows="5" required ng-readonly="vm.isReadOnly"></textarea>
                  <ng-messages-generator
                    form="createPropertyForm"
                    input-name="description{{description}}"
                    validators="required"
                  ></ng-messages-generator>
                </md-input-container>
                <md-input-container class="md-block">
                  <label>{{'propertyWizardPage.property.LocationDescription' | translate}} </label>
                  <textarea name="location{{description}}" ng-model="vm.property.description[description].location" md-maxlength="500" md-minlength="20" rows="5" required ng-readonly="vm.isReadOnly"></textarea>
                  <ng-messages-generator
                    form="createPropertyForm"
                    input-name="location{{description}}"
                    validators="required"
                  ></ng-messages-generator>
                </md-input-container>
              </v-pane-content>
            </v-pane>
          </v-accordion>

        </div>
      </div>
    </v-pane-content>
  </v-pane>
</v-accordion>

<div layout="row">
  <md-input-container class="md-block" flex="20">
    <label>{{'PropertyBrowse.Property.price' | translate}}</label>
    <input name="price" ng-model="vm.property.price" type="number" ng-readonly="vm.isReadOnly">
    <ng-messages-generator
      form="createPropertyForm"
      input-name="price"
      validators="required"
    ></ng-messages-generator>
  </md-input-container>
  <md-input-container class="md-block" flex="30">
    <md-select name="price" ng-model="vm.property.currency" aria-label="price currency">
      <md-option ng-repeat="currency in vm.currencies" value="{{currency.name}}" ng-disabled="vm.isReadOnly">
        {{currency.name}}
      </md-option>
    </md-select>
  </md-input-container>
  <md-input-container class="md-block" flex="50">
    <label>{{'PropertyBrowse.Property.squareMetersProperty' | translate}}</label>
    <input name="meters" ng-model="vm.property.meters" type="number" required ng-readonly="vm.isReadOnly">
    <ng-messages-generator
      form="createPropertyForm"
      input-name="meters"
      validators="required"
    ></ng-messages-generator>
  </md-input-container>
</div>
