
<div layout-gt-sm="row" layout-gt-xs="column" layout-xs="column">
  <md-input-container class="md-block" flex>
    <label>{{'Profile.Data.Country.Label' | translate}}</label>
    <md-select name="country" ng-model="vm.property.location.country" ng-change="vm.loadStates()" required>
      <md-option ng-repeat="country in vm.countries" value="{{country.id}}" ng-disabled="vm.isReadOnly">
        {{country.name}}
      </md-option>
    </md-select>
    <ng-messages-generator
      form="createPropertyForm"
      input-name="country"
      validators="required"
    ></ng-messages-generator>
  </md-input-container>

  <md-input-container class="md-block" flex>
    <label>{{'Profile.Data.State.Label' | translate}}</label>
    <md-select
      name="state"
      ng-model="vm.property.location.state"
      ng-change="vm.loadCities()"
      ng-disabled="!vm.property.location.country"
      required
    >
      <md-option ng-repeat="state in vm.states" value="{{state.id}}" ng-disabled="vm.isReadOnly">
        {{state.name}}
      </md-option>
    </md-select>
    <ng-messages-generator
      form="createPropertyForm"
      input-name="state"
      validators="required"
    ></ng-messages-generator>
  </md-input-container>

  <md-input-container class="md-block" flex>
    <label>{{'Profile.Data.City.Label' | translate}}</label>
    <md-select
      name="city"
      ng-model="vm.property.location.city"
      ng-disabled="!vm.property.location.state"
      required
    >
      <md-option ng-repeat="city in vm.cities" value="{{city.id}}" ng-disabled="vm.isReadOnly" ng-click="vm.updateMapLocation(city)">
        {{city.name}}
      </md-option>
    </md-select>
    <ng-messages-generator
      form="createPropertyForm"
      input-name="city"
      validators="required"
    ></ng-messages-generator>
  </md-input-container>
</div>
<div layout-gt-sm="row" layout-gt-xs="column" layout-xs="column">
  <md-input-container class="md-block" flex>
    <label>{{'Properties.wizard.latitude' | translate}}</label>
    <input ng-model="vm.property.location.center.latitude" aria-label="latitude" type="number" readonly>
  </md-input-container>

  <md-input-container class="md-block" flex>
    <label>{{'Properties.wizard.longitude' | translate}}</label>
    <input ng-model="vm.property.location.center.longitude" aria-label="longitude" type="number" readonly>
  </md-input-container>
</div>

<geolocation
  location="vm.property.location"
  refresh="vm.refresh"
  readonly="vm.isReadOnly"

></geolocation>
