<ng-form name="propertyInfoForm">
  <div layout="column">
    <div layout-gt-sm="row" layout-gt-xs="row" layout-xs="column">
      <md-input-container class="md-block" flex>
        <label>{{'Profile.Data.Country.Label' | translate}}</label>
        <md-select
          name="country"
          ng-model="vm.property.propertyKey.country"
          ng-model-options="{trackBy: '$value.id'}"
          required
        >
          <md-option ng-repeat="country in vm.countries" ng-value="country" ng-disabled="vm.isReadOnly">
            {{country.lang | translate}}
          </md-option>
        </md-select>
        <ng-messages-generator
          form="propertyInfoForm"
          input-name="country"
          validators="required"
        ></ng-messages-generator>
      </md-input-container>

      <md-input-container class="md-block" flex>
        <label>{{'PropertyBrowse.Property.propertyType' | translate}}</label>
        <md-select
          name="propertyTypes"
          ng-model="vm.property.propertyKey.propertyType"
          ng-model-options="{trackBy: '$value.id'}"
          required
        >
          <md-optgroup label="{{'hallocasa.propertytype.lot' | translate}}">
            <md-option ng-repeat="propertyTypes in vm.propertyTypes | filter: {group: {id: 1}} track by $index" ng-value="propertyTypes" ng-disabled="vm.isReadOnly">
              {{propertyTypes.lang | translate}}
            </md-option>
          </md-optgroup>
          <md-optgroup label="{{'hallocasa.propertytype.standalone' | translate}}">
            <md-option ng-repeat="propertyTypes in vm.propertyTypes | filter: {group: {id: 2}} track by $index" ng-value="propertyTypes" ng-disabled="vm.isReadOnly">
              {{propertyTypes.lang | translate}}
            </md-option>
          </md-optgroup>
          <md-optgroup label="{{'hallocasa.propertytype.inhouse' | translate}}">
            <md-option ng-repeat="propertyTypes in vm.propertyTypes | filter: {group: {id: 3}} track by $index" ng-value="propertyTypes" ng-disabled="vm.isReadOnly">
              {{propertyTypes.lang | translate}}
            </md-option>
          </md-optgroup>




        </md-select>
        <ng-messages-generator
          form="propertyInfoForm"
          input-name="propertyTypes"
          validators="required"
        ></ng-messages-generator>
      </md-input-container>
    </div>
    <div layout-gt-sm="row" layout-gt-xs="row" layout-xs="column">
      <md-input-container class="md-block" flex>
        <label>{{'PropertyBrowse.Property.location' | translate}}</label>
        <md-select
          name="propertyLocation"
          ng-model="vm.property.propertyKey.propertyLocation"
          ng-model-options="{trackBy: '$value.id'}"
          required
        >
          <md-option ng-repeat="location in vm.locations" ng-value="location" ng-disabled="vm.isReadOnly">
            {{location.lang | translate}}
          </md-option>
        </md-select>
        <ng-messages-generator
          form="propertyInfoForm"
          input-name="propertyLocation"
          validators="required"
        ></ng-messages-generator>
      </md-input-container>

      <md-input-container class="md-block" flex>
        <label>{{'Profile.Data.buy.rent.Label' | translate}}</label>
        <md-select
          name="proposals"
          ng-model="vm.property.propertyKey.propertyProposal"
          ng-model-options="{trackBy: '$value.id'}"
          required
        >
          <md-option ng-repeat="proposal in vm.proposals" ng-value="proposal" ng-disabled="vm.isReadOnly">
            {{proposal.lang | translate}}
          </md-option>
        </md-select>
        <ng-messages-generator
          form="propertyInfoForm"
          input-name="proposals"
          validators="required"
        ></ng-messages-generator>
      </md-input-container>
    </div>
  </div>
  <div>
    <md-button ng-click="vm.closeDialog()">{{'Properties.wizard.cancel.label' | translate}}</md-button>
    <md-button ng-click="vm.changeState(vm.state.WIZARD_2)" ng-disabled="!propertyInfoForm.$valid">
      {{'Properties.wizard.next.label' | translate}}
    </md-button>
  </div>
</ng-form>
