<ng-form name="propertyInfoForm">
  <div layout="column">
    <div layout-gt-sm="row" layout-gt-xs="row" layout-xs="column">
      <md-input-container class="md-block" flex>
        <label>{{'Profile.Data.Country.Label' | translate}}</label>
        <md-select
          name="country"
          aria-label="country"
          title="{{Profile.Data.Country.Label | translate}}"
          ng-model="vm.property.propertyKey.country"
          ng-model-options="{trackBy: '$value.id'}"
          md-on-close="vm.searchCountryTerm = {}"
          data-md-container-class="selectHeader"
          ng-required="required">
          <md-select-header class="select-header">
            <input ng-model="vm.searchCountryTerm.$"
                  type="search"
                  placeholder="{{'placeholder.search' | translate}}"
                  class="header-searchbox md-text"
                  onkeydown="mdSelectOnKeyDownOverride(event)">
          </md-select-header>
          <md-option ng-repeat="country in vm.countries | filter: vm.searchCountryTerm" ng-value="country" ng-disabled="vm.isReadOnly">
            {{country.translated}}
          </md-option>
        </md-select>
        <ng-messages-generator
          form="propertyInfoForm"
          input-name="country"
          validators="required"
        ></ng-messages-generator>
      </md-input-container>

      <md-input-container class="md-block" flex>
        <label>{{'PropertyBrowse.Property.propertyType' | translate}}</label>
        <md-select
          name="propertyTypes"
          ng-model="vm.property.propertyKey.propertyType"
          ng-model-options="{trackBy: '$value.id'}"
          data-md-container-class="selectHeader"
          md-on-close="vm.searchPropertyTypeTerm = ''"
          required>
          <md-optgroup label="{{'hallocasa.propertytypegroup.lots' | translate}}">
            <md-option ng-repeat="propertyTypes in vm.propertyTypesLots | filter: vm.searchPropertyTypeTerm " ng-value="propertyTypes" ng-disabled="vm.isReadOnly">
              {{propertyTypes.langTrans}}
            </md-option>
          </md-optgroup>
          <md-optgroup label="{{'hallocasa.propertytypegroup.commerceindustry' | translate}}">
            <md-option ng-repeat="propertyTypes in vm.propertyTypesIndustry | filter: vm.searchPropertyTypeTerm " ng-value="propertyTypes" ng-disabled="vm.isReadOnly">
              {{propertyTypes.langTrans}}
            </md-option>
          </md-optgroup>
          <md-optgroup label="{{'hallocasa.propertytypegroup.living' | translate}}">
            <md-option ng-repeat="propertyTypes in vm.propertyTypesLiving | filter: vm.searchPropertyTypeTerm " ng-value="propertyTypes" ng-disabled="vm.isReadOnly">
              {{propertyTypes.langTrans}}
            </md-option>
          </md-optgroup>
        </md-select>
        <ng-messages-generator
          form="propertyInfoForm"
          input-name="propertyTypes"
          validators="required"
        ></ng-messages-generator>
      </md-input-container>
    </div>
    <div layout-gt-sm="row" layout-gt-xs="row" layout-xs="column">
      <md-input-container class="md-block" flex>
        <label>{{'PropertyBrowse.Property.location' | translate}}</label>
        <md-select
          name="propertyLocation"
          ng-model="vm.property.propertyKey.propertyLocation"
          ng-model-options="{trackBy: '$value.id'}"
          required
        >
          <md-option ng-repeat="location in vm.locations" ng-value="location" ng-disabled="vm.isReadOnly">
            {{location.lang | translate}}
          </md-option>
        </md-select>
        <ng-messages-generator
          form="propertyInfoForm"
          input-name="propertyLocation"
          validators="required"
        ></ng-messages-generator>
      </md-input-container>

      <md-input-container class="md-block" flex>
        <label>{{'Profile.Data.buy.rent.Label' | translate}}</label>
        <md-select
          name="proposals"
          ng-model="vm.property.propertyKey.propertyProposal"
          ng-model-options="{trackBy: '$value.id'}"
          required
        >
          <md-option ng-repeat="proposal in vm.proposals" ng-value="proposal" ng-disabled="vm.isReadOnly">
            {{proposal.lang | translate}}
          </md-option>
        </md-select>
        <ng-messages-generator
          form="propertyInfoForm"
          input-name="proposals"
          validators="required"
        ></ng-messages-generator>
      </md-input-container>
    </div>

    <div layout-gt-sm="row" layout-gt-xs="row" layout-xs="column">
      <md-input-container class="md-block" flex>
        <label>{{'Property.wizard.currencytouse' | translate}}</label>
        <md-select
          name="currencyToUse"
          ng-model="vm.property.propertyKey.currencyToUse"
          ng-model-options="{trackBy: '$value.id'}"
          required
        >
          <md-option ng-repeat="currency in vm.currencies" ng-value="currency" ng-disabled="vm.isReadOnly">
            {{currency.abbreviation}}
          </md-option>
        </md-select>
        <ng-messages-generator
          form="propertyInfoForm"
          input-name="currencyToUse"
          validators="required"
        ></ng-messages-generator>
      </md-input-container>
    </div>
  </div>
  <div>
    <md-button ng-click="vm.closeDialog()">{{'Properties.wizard.cancel.label' | translate}}</md-button>
    <md-button ng-click="vm.changeState(vm.state.WIZARD_2)" ng-disabled="!propertyInfoForm.$valid">
      {{'Properties.wizard.next.label' | translate}}
    </md-button>
  </div>
</ng-form>
