.profile-card {
  height: 200px;
  overflow: hidden;
}

.img-profile img {
  width: 200px;
  height: 200px;
}

.button-contact {
  margin-left: 0 !important;
}

@media (min-width: 768px){
  .profile-image{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .25s;
    transition: -webkit-transform .25s;
    transition: transform .25s, -webkit-transform .25s
  }

  .profile-card:hover .profile-image{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
  }

  .layout-profile{
    width: 1024px;
  }
}

.profile-image-container{
  border-radius: 50%;
  overflow: hidden;
}

.title-profile {
  margin: 40px 8px 20px 8px;
  
}

.title-property {
  
  color: #717171;
}


