<div ng-switch="fieldType.id">
  <md-input-container class="md-block" ng-if="!readonly">
    <label>{{fieldInformation.lang | translate}}</label>
    <input
      ng-switch-when="standard_field"
      name="{{fieldName}}"
      title="{{fieldInformation.lang | translate}}"
      ng-model="fieldInformation.fieldValueList[0].text.strVal"
      type="text"
      ng-required="required"
      ng-minlength="fieldInformation.validationsParams.minlength"
      ng-maxlength="fieldInformation.validationsParams.maxlength"
    >
    <input
      ng-switch-when="scope_dependent_field"
      name="{{fieldName}}"
      title="{{fieldInformation.lang | translate}}"
      ng-model="fieldInformation.fieldValueList[relocatedIndex].data2.strVal"
      type="text"
      ng-required="required"
      ng-minlength="fieldInformation.validationsParams.minlength"
      ng-maxlength="fieldInformation.validationsParams.maxlength"
    >

    <ng-messages-generator
      form="form"
      input-name="{{fieldName}}"
      validators="{{fieldInformation.validations}}"
      messages-params="fieldInformation.messagesParams"
    ></ng-messages-generator>
  </md-input-container>
  <div ng-if="readonly && (fieldInformation.fieldValueList[0].text.strVal || fieldInformation.fieldValueList[relocatedIndex].data2.strVal || fieldInformation.overwriterValue) ">
    <b>{{fieldInformation.lang | translate}}:&nbsp;</b>
    <span ng-switch-when="standard_field">{{::fieldInformation.fieldValueList[0].text.strVal}}</span>
    <span ng-switch-when="scope_dependent_field">{{::fieldInformation.fieldValueList[relocatedIndex].data2.strVal}}</span>
    <span ng-switch-when="computed_field_value">{{::fieldInformation.overwriterValue}}</span>
  </div>
</div>
