/*
  IE10/11 angular slider fix
*/
::-ms-tooltip {
  display: none;
}

/*
  Slider style
*/

slider {
  display:     block;
  position:    relative;
  height:      30px;
  width:       100%;
  margin: 16px 0 16px 0;
}

slider span.bar {
  height:     50%;
  z-index:    0;
  background: #eee;
  left:       0;
  top:        25%;
  cursor:     pointer;
}

slider span.bar.selection, slider span.bar.unselected {
}

slider span.bar.selection {
  background: #0a0;
  opacity:    0.5;
}

slider span.bar.unselected {
  width:      auto;
  background: #a00;
  opacity:    0.5;
}

slider span.pointer {
  cursor:           pointer;
  width:            15px;
  top:              0;
  bottom:           0;
  background-color: #00a;
}

slider span.pointer:hover {
}

slider span.pointer.active {
}

slider span.bubble {
  font-size:   0.7em;
  line-height: 1.4em;
  font-family: sans-serif;
  text-align:  center;
  text-shadow: none;
  top:         -1.3em;
  cursor:      pointer;
}

slider span.bubble.selection, slider span.bubble.limit {
  top: 25%;
}

slider span.bubble.selection {
  opacity: 0;
}

slider span.bubble.middle {
  opacity: 1 !important;
  left: 0 !important;
  padding-top: 48px;
}

slider span.bubble.limit {
}

slider span.bubble.low, slider span.bubble.high {
}
