<div>dropdownField {{fieldType}} {{fieldInformation.options.type}}</div>

<div ng-switch="fieldInformation.options.type">

  <md-input-container class="md-block">
    <label>{{fieldInformation.lang | translate}}</label>
    <md-select
      ng-switch-when="static_options"
      name="{{fieldInformation.name}}"
      title="{{fieldInformation.lang | translate}}"
      ng-model="fieldInformation.fieldValueList[0].text.intVal"
      ng-disabled="!options"
    >
      <md-option ng-repeat="option in options" value="{{option.identifier}}">
        {{option.data1}}
      </md-option>
    </md-select>

    <md-select
      ng-switch-when="dynamic_options"
      name="{{fieldInformation.name}}"
      title="{{fieldInformation.lang | translate}}"
      ng-model="fieldInformation.fieldValueList[0].text.intVal"
      ng-disabled="!options"
    >
      <md-option ng-repeat="option in options" value="{{option.identifier}}">
        {{option.name}}
      </md-option>
    </md-select>

    <md-select
      ng-switch-when="binary_options"
      name="{{fieldInformation.name}}"
      title="{{fieldInformation.lang | translate}}"
      ng-model="fieldInformation.fieldValueList[0].text.boolVal"
      ng-disabled="!options"
    >
      <md-option ng-repeat="option in options" value="{{option.value}}">
        {{option.name}}
      </md-option>
    </md-select>

    <md-select
      ng-switch-when="internal_dependency_options"
      name="{{fieldInformation.name}}"
      title="{{fieldInformation.lang | translate}}"
      ng-model="fieldInformation.fieldValueList[0].text.intVal"
      ng-disabled="!options"
    >
      <md-option ng-repeat="option in options" value="{{option.identifier}}">
        {{option.name}}
      </md-option>
    </md-select>

    <md-select
      ng-switch-when="external_dependency_options"
      name="{{fieldInformation.name}}"
      title="{{fieldInformation.lang | translate}}"
      ng-model="fieldInformation.fieldValueList[0].text.intVal"
      ng-disabled="!options"
    >
      <md-option ng-repeat="option in options" value="{{option.identifier}}">
        {{option.name}}
      </md-option>
    </md-select>

    <md-select
      ng-switch-when="parameter_dependency_options"
      name="{{fieldInformation.name}}"
      title="{{fieldInformation.lang | translate}}"
      ng-model="fieldInformation.fieldValueList[0].text.intVal"
      ng-disabled="!options"
    >
      <md-option ng-repeat="option in options" value="{{option.identifier}}">
        {{option.name}}
      </md-option>
    </md-select>
  </md-input-container>

</div>

