.angular-google-map-container {
  height: 400px;
}

/*
  Property card
*/

.property-card {
  overflow: hidden;
  height: 330px;
  width: 342px;
}

@media (max-width: 342px){
  .property-card {
    width: 287px;
  }
  .property-card .image{
    height: 168px;
  }
}

@media (min-width: 1140px){
  .property-card {
    width: 362px;
  }
  .property-card .image{
    height: 212px;
  }
}

.property-card .highlight-text{
  color: #0c58a6;
}

.property-card .title{
  font-size: 18px;
  color: #000;
  margin: 5px 0 5px 0;
}

.property-card .subtitle{
  font-size: 14px;
  color: #000;
  opacity: 0.87;
  margin: 5px 0 5px 0;
}

.property-card .header{
  position: relative;
}

.property-card .price {
  position: absolute;
  top: 20px;
  padding: 8px 15px;
  background-color: #fff;
  z-index: 2;
}

.property-card .image {
  height: 200px;
  overflow: hidden;
  background-size: cover !important;
  background-position: center !important;
}
.property-card .image img{
  width: 100%;
}

.property-card.options {
  height: 395px;
}

.property-card.detail-view{
  width: auto;
  height: auto;
}

.property-card .available-services b{
  margin-right: 8px;
}


.property-card .imageContainer {
  position: relative;
  width: 100%;
  padding-bottom: 58.47%;
  float: left;
  height: 0;
  overflow: hidden;
}

.property-card img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

.property-card md-card-content{
  padding-bottom: 0;
}



@media (min-width: 768px){
  .property-card .overlay-color{
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0);
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
  }

  .property-card:hover .overlay-color{
    background-color:rgba(0,0,0,0.5);
  }
}

.shared-card{
  text-align: center;
}

.shared-card a{
  text-decoration: none;
  color: #0c58a6;
  margin-right: 10px;
}

.md-fab {
  background-color: #0c58a6;
}

.md-button.md-fab.btn-shared {
  margin: 6px 6px;
  background-color: #0c58a6;
}

.md-button.md-fab.btn-shared:not([disabled]):hover {
  background-color: #0e64ba;
}

.md-button.md-fab.btn-shared:not([disabled]):focus {
  background-color: #0e64ba;
}

.md-button.md-fab.md-mini {
      line-height: 2.2rem;
      width: 2rem;
      height: 2rem;
}
