.angular-google-map-container {
  height: 400px;
}

.property-card {
  height: 180px;
}

.property-card-options {
  height: 230px;
}

.card-media {
  position: relative;
}

.card-media img {
  position:absolute;
  top:0;
  bottom:0;
  margin:auto;
}
