.angular-google-map-container {
  height: 400px;
}

/*
  Property card
*/

.property-card {
  overflow: hidden;
  height: 360px;
  width: 342px;
}

.property-card .highlight-text{
  color: #0c58a6;
}

.property-card .title{
  font-size: 18px;
  color: #000;
  margin: 5px 0 5px 0;
}

.property-card .subtitle{
  font-size: 14px;
  color: #000;
  opacity: 0.87;
  margin: 5px 0 5px 0;
}

.property-card .header{
  position: relative;
  height: 200px;
}

.property-card .price {
  position: absolute;
  top: 20px;
  padding: 8px 15px;
  background-color: #fff;
}

.property-card .image {
  height: 200px;
  overflow: hidden;
  background-size: cover !important;
  background-position: center !important;
}
.property-card .image img{
  width: 100%;
}

.property-card md-card-title{
  padding-top: 16px;
}

.property-card.options {
  height: 395px;
}

.property-card.detail-view{
  width: auto;
  height: auto;
}

