/** Blog Hallocasa **/
#blog-layout {
    max-width: 750px;
    width: 100%;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
}

#blog-layout .ui-article-prev-cont,
#blog-layout .ui-article-prev-cont p,
#blog-layout .ui-article-prev-cont ul,
#blog-layout .ui-article-prev-cont li {
    text-align: justify;
    font-size: 18px;
    color: #27292C;
}
#blog-layout .ui-article-prev-cont li {
    margin-bottom: 0.6em;
    list-style-type: disc;
}
#blog-layout .ui-article-prev-cont h2,
#blog-layout .ui-article-prev-cont h2 a,
#blog-layout .ui-article-prev-cont h1 {
    font-size: 45px;
    line-height: 0.8em;
    text-align: center;
    margin-bottom: 1em;
    font-weight: normal;
    display: block;
    color: #333;
    text-decoration: none;
}
#blog-layout .ui-options .yellow-btn {
    margin-bottom: 20px;
    white-space: nowrap;
    display: inline-block;
    margin-left: auto;
    margin-right: 0px;
}
.blog-img-float-left {
    float: left;
    margin-right: 20px;
    max-width: 100%;
}
#blog-layout p {
    margin-bottom: 1.1em;
    font-weight: normal;
}
#blog-layout hr.read-more{
    display: none;
}
hr {
    border: none;
    border-bottom: 1px solid #cccccc;
}