.bottom-strip {
    font-weight: lighter;
    position: absolute;
    top: auto;
    bottom: 0;
    width: 100%;
    background-color: #002d45;
    padding: 18px;
}
.bottom-strip > * {
    color: white;
}
.bottom-strip p {
    margin: 0px;
}
.bottom-strip > a {
    text-decoration: none;
}
.bottom-strip .content {
    font-size: 15px;
    margin-bottom: 0;
    line-height: 66px;
}
.bottom-strip .content #backtop-btn {
    font-size: 42px;
    position: relative;
    text-align: center;
    display: table;
    margin: 0 auto;
}
.bottom-strip .content #backtop-btn:before {
    width: 60px;
    height: 60px;
    line-height: 62px;
    text-align:center;
    float: left;
    background-color: rgba(36,36,36,0.23);
    border-radius: 100px;
}
.bottom-strip .content .bottom-strip-middle {
    position:relative;
}
.bottom-strip a{
    color: #F3F3F3;
}

@media screen and ( max-width: 480px ){
    .bottom-strip p {
        display: block;
        width: 100%;
        text-align: center;
        float: none;
    }
}


/* social icons */
.hc-footer-social-icons {
    float:right;
    margin-top:12px;
}
.hc-footer-social-icons, .menu {
    padding:0;
}
.hc-footer-social-icons li {
    padding:7px;
    width:36px;
    height: 36px;

    float:left;
    margin-right:5px;
    border:1px solid rgba(255,255,255,0.3);
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -ms-border-radius:100px;
    -o-border-radius:100px;
    border-radius:100px;
    line-height:26px;
    text-align:center;
    transition:all 300ms ease-in-out;
    -o-transition:all 300ms ease-in-out;
    -moz-transition:all 300ms ease-in-out;
    -webkit-transition:all 300ms ease-in-out;
}
.hc-footer-social-icons li a, .menu li a {
    font-size: 1.1em;
    text-align:center;
}
.hc-footer-social-icons li:hover, .menu li:hover {
    background-color:#fefefe;
}
.hc-footer-social-icons li:hover a, .menu li:hover a {
    color: #002d45;
}

@media screen and ( max-width: 480px ){
    .hc-footer-social-icons {
        display: block;
        width: 100%;
        text-align: center;
        float: none;
    }
    .hc-footer-social-icons li {
        display: inline-block;
        float: none;
        width: 30px;
        height: 30px;
        padding: 3px;
    }
    .hc-footer-social-icons .fa {
        font-size: 1em;
    }
}