/* Hallocasa content styles */

/* fonts */
@import
	"http://fonts.googleapis.com/css?family=Roboto:400,900italic,700italic,500italic,400italic,300italic,100italic,900,700,500,300,100"
	;

@import
	"http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,300,400,600"
	;

/* other componentes*/
@import "#{resource['css:reset.css']}";

@import "#{resource['css:layout.css']}";

@import "#{resource['css:header.css']}";

@import "#{resource['css:footer.css']}";

/*body*/
.hc-content-body {
	min-height: 640px;
	border-bottom: 8px solid #1D5D8D;
}

.hc-content-Profiles {
	padding: 20px;
	background: #fff;
}
/* sections and components */
.hc-basic-button {
	padding: 0.6em 1.2em;
	line-height: 1.4;
	box-sizing: border-box;
	cursor: pointer;
	text-align: center;
	border: 1px solid #FBE644;
	background: #FBE644;
	border-radius: 6px;
}

.hc-basic-button:hover {
	border: 1px solid #002d45;
	background: #002d45;
	font-weight: normal;
	color: #ffffff !important;
}

.hc-state-active-button {
	
}

/* form */
.hc-form {
	text-align: left;
}

.hc-form .hc-form-label {
	display: block;
	margin-bottom: 0.2em;
}

.hc-form .hc-form-across-label {
	display: inline;
	margin-bottom: 0.2em;
	font-weight: bold;
	font-size: 19px;
}

.hc-form-label.hc-form-required:after,.hc-form-across-label.hc-form-required:after
	{
	content: "*";
	margin-left: 5px;
}

.hc-form .hc-form-field {
	min-width: 100%;
	/*background: #E4E4E4;
	border: 1px solid #337ab7;*/
}

.hc-form .hc-form-field .hc-output-text {
	margin: 0em 0.6em 0.3em 0.6em;
	width: 100%;
}

.hc-gray-field {
	color: #B1B1B1;
}

.hc-overlay-form-fields-container {
	padding-bottom: 20px;
	font-size: 0.85em;
	border: 1px solid #002D45;
}

.hc-overlay-form-buttons-container {
	text-align: center;
	font-size: 0.9em;
}

.hc-form-cancel-button {
	margin-right: 6px;
}

.hc-manycheckbox-three-columns {
	width: 100%;
}

.hc-manycheckbox-three-columns tr {
	float: left;
	width: 33%;
}

.hc-overlay-form-additional-options {
	padding-top: 0.1em;
	font-size: 0.8em;
	text-align: right;
	margin-bottom: 1.6em;
	margin-top: -1.2em;
}

.hc-overlay-form-additional-options .hc-link {
	
}

.hc-overlay-form-additional-options .hc-link:hover {
	text-decoration: underline;
}

.hc-centered-panel {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-bottom: 154px;
}

.hc-input-text-area {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}

.hc-input-text-area {
	max-width: 100%;
}

.hc-300-panel {
	max-width: 100%;
	max-height: 100%;
	overflow: scroll;
}
.hc-300-panel .col-md-12 {
    padding-bottom: 20px;
}
.hc-padding-20 {
	padding: 20px;
}

/* yellow button */
.hc-yellow-button-link {
	margin-bottom: 20px;
	white-space: nowrap;
	display: inline-block;
	margin-left: auto;
	margin-right: 0px;
}

.hc-yellow-button-link {
	background-color: #fbe644;
	color: #000;
	font-size: 17px;
	padding: 10px 15px;
	margin: 0 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	z-index: 1;
}

.hc-yellow-button-link  span {
	color: black;
}

.hc-yellow-button-link :visited {
	color: #000;
}

.hc-yellow-button-link :hover,.hc-yellow-button-link :active,.hc-yellow-button-link :hover span,.hc-yellow-button-link :active span
	{
	color: white;
}

.hc-simple-link {
	cursor: pointer;
	display: inline-block;
	color: #333;
	text-align: center;
	padding: 14px 10px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 19px;
}

.hc-go-right {
	text-align: right !important;
}

.hc-overlay-form-additional-options.col-md-12 div a {
	float: left;
}

.ui-dialog-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-top span
	{
	font-size: 20px;
}

.hc-overlay-form-fields-container.col-md-12 label {
	font-size: 14px;
	padding: 3px 0 5px 17px;
}

.hc-page-content {
	min-height: 415px !important;
	margin-top: 50px;
	margin-bottom: 50px;
}

.hc-content-info-public {
	margin-right: -14px;
	padding-bottom: 40px;
	line-height: 40px;
}

.hc-form .hc-form-field .hc-linkedin {
	width: 16%;
	height: 16%;
}

.hc-content-description {
	width: 100%;
	height: auto;
	padding: 20px;
}

.hc-font-field {
	font-size: 17px;
}

.hc-image-public-content img {
	width: 150px;
}

.hc-name-content-profile {
	margin-left: -8px;
}

.hc-responsive-div img {
	width: 237px;
}

.hc-info-content-profile {
	line-height: 29px;
}

.hc-box-telephone {
	width: 100%;
}

.hc-btn-save-cancel{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.hc-edit-finish-img{
	margin-bottom:20px;
}
.hc-content-edit-info{
line-height:40px;	
}
