/* Hallocasa content styles */

/* fonts */
@import
	"http://fonts.googleapis.com/css?family=Roboto:400,900italic,700italic,500italic,400italic,300italic,100italic,900,700,500,300,100"
	;

@import
	"http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,300,400,600"
	;

/* other componentes*/
@import "#{resource['css:reset.css']}";

@import "#{resource['css:layout.css']}";

@import "#{resource['css:header.css']}";

@import "#{resource['css:footer.css']}";

/*body*/
.hc-content-body {
	min-height: 540px;
	border-bottom: 2px solid #1D5D8D;
	background-image: url("#{resource['images:hc-background-1345.jpg']}");
	background-repeat: no-repeat;
	padding-top: 130px;
	width: 100%;
	float: left;
	background-size: 100%;
}

.hc-content-body-profile {
	min-height: 640px;
	border-bottom: 2px solid #1D5D8D;
	background-image: url("#{resource['images:hc-background-1345.jpg']}");
	background-repeat: no-repeat;
	width: 100%;
	float: left;
	background-size: 100%;
}

.hc-content-body-properties {
	min-height: 640px;
	border-bottom: 2px solid #1D5D8D;
	width: 100%;
	float: left;
	background-size: 100%;
}

.hc-li-header {
	padding-top: 13px;
}

.hc-content-body-blog {
	min-height: 640px;
	border-bottom: 2px solid #1D5D8D;
	padding-top: 130px;
	width: 100%;
	float: left;
	background-size: 100%;
}

.hc-content-body-downloads {
	min-height: 640px;
	border-bottom: 2px solid #1D5D8D;
	padding-top: 200px;
	width: 100%;
	float: left;
	background-size: 100%;
}

.hc-content-Profiles {
	background: rgb(236, 236, 236);
	height: auto;
	float: left;
	width: 100%;
}
/* sections and components */
.hc-basic-button {
	padding: 0.6em 1.2em;
	line-height: 1.4;
	box-sizing: border-box;
	cursor: pointer;
	text-align: center;
	border: 1px solid #FBE644;
	background: #FBE644;
	border-radius: 6px;
}

.hc-basic-button:hover {
	border: 1px solid #002d45;
	background: #002d45;
	font-weight: normal;
	color: #ffffff !important;
}

.hc-state-active-button {
	
}

/* form */
.hc-form {
	text-align: left;
}

.hc-form .hc-form-label {
	display: block;
	margin-bottom: 0.2em;
}

.hc-form .hc-form-across-label {
	display: inline;
	margin-bottom: 0.2em;
	font-weight: bold;
	font-size: 19px;
}

.hc-form-label.hc-form-required:after,.hc-form-across-label.hc-form-required:after
	{
	content: "*";
	margin-left: 5px;
}

.hc-form .hc-form-field {
	min-width: 100%;
	/*background: #E4E4E4;
	border: 1px solid #337ab7;*/
}

.hc-form .hc-form-field .hc-output-text {
	margin: 0em 0.6em 0.3em 0.6em;
	width: 100%;
}

.hc-gray-field {
	color: #B1B1B1;
}

.hc-overlay-form-fields-container {
	padding-bottom: 20px;
	font-size: 0.85em;
	/*border: 1px solid #002D45;*/
}

.hc-overlay-form-buttons-container {
	text-align: center;
	font-size: 0.9em;
}

.hc-form-cancel-button {
	margin-right: 6px;
}

.hc-manycheckbox-three-columns {
	width: 100%;
}

.hc-manycheckbox-three-columns tr {
	float: left;
	width: 33%;
}

.hc-overlay-form-additional-options {
	padding-top: 0.1em;
	font-size: 0.8em;
	text-align: right;
	margin-bottom: 1.6em;
	margin-top: -1.2em;
}

.hc-overlay-form-additional-options .hc-link {
	
}

.hc-overlay-form-additional-options .hc-link:hover {
	text-decoration: underline;
}

.hc-centered-panel {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-bottom: 154px;
}

.hc-input-text-area {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}

.hc-input-text-area {
	max-width: 100%;
}

.hc-300-panel {
	max-width: 100%;
	max-height: 100%;
	overflow: scroll;
}

.hc-300-panel .col-md-12 {
	padding-bottom: 20px;
}

.hc-padding-20 {
	padding: 20px;
}

/* yellow button */
.hc-yellow-button-link {
	margin-bottom: 20px;
	white-space: nowrap;
	display: inline-block;
	margin-left: auto;
	margin-right: 0px;
}

.hc-yellow-button-link {
	background-color: #fbe644;
	color: #000;
	font-size: 17px;
	padding: 10px 15px;
	margin: 0 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	z-index: 1;
}

.hc-yellow-button-link  span {
	color: black;
}

.hc-yellow-button-link :visited {
	color: #000;
}

.hc-image-public-content {
	float: left;
	width: 258px;
	height: 220px;
}

.hc-yellow-button-link :hover,.hc-yellow-button-link :active,.hc-yellow-button-link :hover span,.hc-yellow-button-link :active span
	{
	color: white;
}

.hc-simple-link {
	cursor: pointer;
	display: inline-block;
	color: #FFF;
	text-align: center;
	padding: 14px 10px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 19px;
}

.hc-go-right {
	text-align: right !important;
}

.hc-overlay-form-additional-options.col-md-12 div a {
	float: left;
}

.ui-dialog-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-top span
	{
	font-size: 20px;
	padding-top: 20px;
}

.hc-overlay-form-fields-container.col-md-12 label {
	font-size: 20px;
	padding: 3px 0 5px 17px;
}

.hc-page-content {
	min-height: 415px !important;
	margin-top: 50px;
	margin-bottom: 50px;
}

.hc-content-info-public {
	line-height: 30px;
	width: 23%;
	float: left;
}

.hc-form .hc-form-field .hc-linkedin {
	width: 55%;
}

.hc-content-linkedin-profile {
	width: 5%;
	float: left;
	padding-left: 15px;
}

.hc-content-description {
	width: 100%;
	height: auto;
	padding: 20px;
	padding-left: 0px;
}

.hc-font-field {
	font-size: 17px;
}

.hc-image-public-content img {
	width: 150px;
}

.hc-name-content-profile {
	margin-left: -8px;
}

.hc-responsive-div img {
	width: 100%;
	height: 100%;
}

.hc-info-content-profile {
	line-height: 29px;
}

.hc-box-telephone {
	width: 84%;
}

.hc-btn-save-cancel {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.hc-edit-finish-img {
	margin-bottom: 20px;
}

.hc-content-edit-info {
	line-height: 40px;
}

.hc-contents-cards {
	background: #fff;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 15px !important;
	padding-right: 15px !important;
}

}
.hc-phone-number {
	font-size: 17px;
}

.hc-info-csc {
	margin-bottom: 20px;
}

.hc-skype {
	margin-left: 0 !important;
}

.btn-linkedin {
	width: 22%;
}

.hc-confirm-email {
	width: 429px !important;
	margin-top: 121px;
}

.hc-icon-img {
	padding: 0 !important;
	top: 10px !important;
	width: 100%;
	height: 49px;
	color: #002D45;
}

.hc-li-header {
	padding-top: 13px;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus {
	color: #1A5783 !important;
	background-color: #ddd !important;
}

.nav-tabs>li.active>a:hover {
	color: #FFF !important;
	background-color: #1A5783 !important;
}

.hc-content-properties {
	margin-top: 20px;
}

.hc-contents-cards-list {
	text-align: left;
	padding: 10px;
	border: 1px solid #ccc;
	margin-top: 30px;
}

.hc-content-card-image {
	padding-right: 20px !important;
}

.hc-properties-features {
	font-size: 19px;
	font-weight: 100;
}

.hc-properties-city {
	font-size: 17px;
	font-weight: 100;
}

.btn-delete {
	color: #fff;
	background-color: #606163;
	border-color: #606163;
	height: 46px;
}

.properties-images,.properties-basic-info,.properties-location {
	margin-left: 40px;
}

.section-propertie {
	padding-top: 30px;
}

.hc-image-selected {
	border: 10px solid #1D5D8D;
	width: 100%;
}

.hc-without-properties {
	width: 100%;
	height: auto;
	padding: 78px;
	float: left;
	font-size: 30px;
}

.hc-image-unselected {
	width: 100%;
	height: auto;
	margin: 5px;
}

.hc-image-selected {
	width: 271px;
	height: 153px;
	float: left;
	margin: 5px;
}

.hc-image-selected span.top-to-bottom {
	display: none;
}

.hc-image-selected img.hc-image-properties {
	width: 239px;
	height: 133px;
	margin-left: 5px;
}

.hc-image-unselected img.hc-image-properties {
	width: 271px;
	height: 153px;
}

.hc-select-property-basic-info {
	width: 75% !important;
	margin-left: 420px;
	margin-top: -61px;
	height: 35px !important;
	"
}

.hc-price-number {
	
}

.hc-image-selected span.hc-close {
	position: absolute;
	top: 232px;
    z-index: 1;
    left: 279px;
	width: 16px;
	height: 16px;
	background-image:
		url("#{resource['primefaces-hallocasa:images/ui-icons_222222_256x240.png']}");
	background-color: #1D5D8D;
}

.hc-image-unselected span.hc-close {
	position: absolute;
	top: 0px;
	z-index: 1;
	left: 255px;
	width: 16px;
	height: 16px;
	background-image:
		url("#{resource['primefaces-hallocasa:images/ui-icons_222222_256x240.png']}");
	background-color: #1D5D8D;
}

.hc-container-main-properties {
	float: left;
	height: 500px;
	width: 100%;
}

.hc-container-properties {
	height: 400px;
	overflow: auto;
}

.hc-col-md-offset-save {
	margin-left: 28.333333%;
}

.hc-responsive-div-properties img,.hc-card-properties img {
	width: 172px;
	height: 121px;
}
.col-md-offset-container-properties {
	margin-left: 5.333333%;
	float: left;
	width: 100%;
}

.hc-cards-city {
	padding-left: 10px !important;
}

.hc-info-content-profile {
	float: left;
	width: 100%;
	margin-top: 100px;
}

.hc-btn-location {
	width: 85% !important;
}

.hc-currency {
	color: #000;
	width: 100%;
}

.hc-card-properties {
	border: 3px solid #ccc;
	border-radius: 3px;
	padding: 30px;
	margin: 20px;
	width: 38.2% !important;
	padding-left: 30px !important;
}

.hc-card-properties-details{
    border-radius: 3px;
    padding: 30px;
    margin: 20px;
    padding-left: 30px!important;
}
.col-md-offset-propertie-public-profile {
	margin-left: 24%;
}

.hc-content-filters {
	height: 120px;
}

.hc-primary {
	margin: 2px !important;
	width: 100% !important;
}
.hc-primary-search{
	width: 100% !important;	
}
.ui-selectlistbox-filter-container {
	margin: 0.1em 0 1.1em !important 0;
	width: 190px;
}
input{
	width: 102%;
}

.ui-selectlistbox-filter.ui-inputfield {
	width: 100%!important;
}
.col-md-offset-propertie-public-profile{
	 margin-left: 24%;
}  

.col-md-offset-container-properties{
	margin-left: 15.333333%;
	float:left;
	width:100%;
}
.carousel-inner .item {
    width: 586px;
    height: 395px;
}
.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}
.hc-next-img{	
	background-image: url("#{resource['images:next.png']}");
	background-repeat: no-repeat;
	    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
    right: 50%;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-right: -15px;
}
.hc-back-img{	
	background-image: url("#{resource['images:back.png']}");
	background-repeat: no-repeat;    
	width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
    margin-left: -15px;
    left: 50%;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-right: -15px;
	}

.hide-bullets-properties {
    list-style: none;
    margin-left: 0px;
    margin-top: 20px;
    float: left;
    width:100%;
} 
.hc-view-properties{
	    background: #fff;
    padding: 25px!important;
}

.content-info-init .name-card {
    width: 100% !important;
    text-align: left;
    margin-bottom: 15px;
    font-size: 22px;
}
.img-profile img{
	width:230px;
}
.hc-card-properties-details .btn-linkedin{
	width: 26%;
}
.hc-img-profile-card img{	
	width:230px;
}
.col-md-offset-property-thumbnail {
    margin-left: 0.001%;
    Width: 50.333333%
}