/* Responsive layout */
html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

body {
    background-color: #FAFAFA;
    font:0.9em/1.5 "Roboto",Helvetica,Arial,sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100%;
    width: 100%;
    display: block;
    position: relative;
    /*padding-bottom: 200px;*/
}

.header{
    width: 100%;    
    overflow: hidden;
}
.page {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 2%;
}
.col:first-child { margin-left: 0; }
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66%; }
.span_1_of_3 { width: 32%; }

#j_idt87{ position: absolute!important;}
#j_idt86{ position: absolute!important;}

#password-recovery-dialog{ position: absolute!important;}
#password-retype-dialog{ position: absolute!important;}

#login-dialog{ 
	position: absolute!important;
    width: 358px!important;
    height: 320px!important;
    left: 497.5px!important;
    top: 193.5px!important;
    }
.ui-dialog .ui-dialog-content{ 	position: absolute!important;}
.clearfix {
    overflow: auto;
}

@media only screen and (max-width: 480px) {
    .col {  margin: 1% 0 1% 0%; }
    .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
    body { padding-bottom: 20em; }
}
@media screen and (max-width: 980px) {
    .page {
        width: 100%;
    }
}