@media screen and (max-width:1280px) {
	body {
		background-image: url("#{resource['images:hc-background-1345.jpg']}");
		background-repeat: no-repeat;
	}
	.hc-home-newsletter-box {
		position: static;
		width: 100%;
		left: auto;
		margin: 0;
		text-align: center;
		z-index: auto;
		max-width: 350px;
		margin-top: 2em;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width:1024px ) {
	ul.topnav {
		width: 75%;
		float: right;
	}
	body {
		background-image: url("#{resource['images:hc-background-1024.jpg']}");
		background-repeat: no-repeat;
	}
}

@media screen and (max-width:800px ) {
	body {
		background-image: url("#{resource['images:hc-background-800.jpg']}");
		background-repeat: no-repeat;
	}
	.beta {
		display: none;
	}
	.row.col-md-10.menu {
		width: 88%;
		position: relative;
		z-index: 1000;
	}
	.top-strip {
		margin-top: 9px;
		height: 30px;
	}
	.hc-home-newsletter-box {
		margin-top: 4em;
	}
	.menu-row {
		float: left;
		width: 100%;
	}
	.btn-default-ini {
		padding: 0px 0px !important;
	}
	.logo {
		width: 100%;
	}
	ul.topnav {
		width: 49%;
		height: 477px;
		float: right;
	}
	.hc-header-global-toolbar {
		top: 20px;
	}
	.navbar-default {
		background-color: transparent !important;
		border-color: transparent !important;
	}
	.hc-header-global-toolbar .hc-header-global-menu-item-mobile-button {
		display: inline-block;
	}
	.btn {
		font-size: 19px;
	}
	header nav {
		width: 80%;
		height: 100%;
		left: -100%;
		position: fixed;
	}
	header nav ul li {
		display: block;
		float: none;
		border-bottom: 1px solid rgba(255, 255, 255, .3);
	}
	.menu_bar {
		display: block;
		width: 100%;
		background: transparent;
	}
	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		background: transparent;
		color: #002D45;
		text-decoration: none;
		font-weight: bold;
		font-size: 25px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		text-align: right;
	}
	.menu_bar span {
		float: right;
		font-size: 40px;
	}
	.hc-header-logo {
		background-image: url("/resources/images/icons/favicon.ico");
		background-repeat: no-repeat;
		width: 228%;
		background-size: 50px 50px;
	}
	.land-page-background {
		height: 58%;
	}
	ul.topnav li {
		display: none;
	}
	.icon-menu {
		font-size: 40px !important;
		text-decoration: inherit !important;
	}
	ul
	.topnavli
	:not
	 
	(
	:first-child
	 
	){
	display
	:
	 
	none
	;
	
	
}

ul.topnav li.icon {
	float: right;
	display: inline-block;
	margin-top: -16px;
}

li.hc-header-global-menu-item.hc-header-menu.btn.btn-default-languaje span
	{
	width: 108.6%;
	position: relative;
	top: -14px;
	left: 0px;
	height: 44px;
	line-height: 41px;
}

ul.topnav.responsive li.icon {
	position: relative;
	right: 0;
	top: 0;
	width: 100%;
	border: 1px solid #fff;
}

ul.topnav.responsive li {
	border: 1px solid #fff;
	float: right;
	width: 100%;
	display: inline;
}

ul.topnav.responsive li.icon {
	position: relative;
	right: 0;
	top: 0;
	text-align: right;
}

ul.topnav.responsive li a {
	display: block;
	margin-top: -1px;
	color: #fff;
	width: 100%;
	text-align: right;
	border-bottom: 1px solid #fff;
	background: #002D45;
}

ul.topnav.responsive li button {
	display: block;
	color: #fff !important;
	width: 100%;
	text-align: right;
	border: 1px solid #fff !important;
	background: #002D45;
	padding: 0px !important;
	top: -2px;
}

ul.topnav.responsive li span {
	display: block;
	color: #fff !important;
	width: 100%;
	text-align: right;
	padding-right: 6px;
	background: #002D45;
}

ul.topnav.responsive li .icon a {
	display: block;
	text-align: right;
}

ul.hc-footer-social-icons {
	margin: 0 auto;
	display: inline-flex;
}

.bottom-strip .content p {
	margin: 0 auto;
	text-align: center;
}

.col-md-12.container.con-body {
	height: 420px;
}

}
@media screen and (max-width:680px) {
	.beta {
		display: none;
	}
	ul
	 
	.topnav
	 
	li
	:not
	 
	(
	:first-child
	 
	)
	{
	display
	:
	 
	none
	;
	
	
}

ul.topnav li.icon {
	float: right;
	display: inline-block;
	position: relative;
	top: -8px;
}

ul.topnav.responsive {
	text-align: center;
	background-color: #002D45;
	height: 475px;
	width: 100%;
}

ul.topnav.responsive li {
	border: none;
}

ul.topnav.responsive li {
	float: none;
	display: inline;
	line-height: 10px;
}

ul.topnav.responsive li.icon {
	position: relative;
	right: 0;
	top: 0;
	text-align: right;
}

ul.topnav.responsive li a {
	display: block;
	margin-top: -1px;
	color: #fff;
	width: 100%;
	text-align: right;
	border-bottom: 1px solid #fff;
}

ul.topnav.responsive li button {
	display: block;
	color: #fff !important;
	width: 100%;
	text-align: right;
	border: 1px solid #fff !important;
}

ul.topnav.responsive li span {
	display: block;
	color: #fff !important;
	width: 100%;
	text-align: right;
}

ul.hc-footer-social-icons {
	margin-left: 172px;
}

.bottom-strip .content p {
	margin: 100px 0px 53px;
	text-align: center;
}

ul.hc-footer-social-icons {
	margin: 0 auto;
	display: inline-flex;
}

.bottom-strip .content p {
	margin: 0 auto;
	text-align: center;
}

}
@media screen and (max-width: 480px) {
	body {
		background-image: url("#{resource['images:hc-background-480.jpg']}");
		background-repeat: no-repeat;
	}
	.beta {
		display: none;
	}
	ul.topnav.responsive {
		height: 331px;
	}
	.col-md-12.container.con-body {
		height: 539px;
	}
	ul.topnav.responsive li.icon {
		border: none;
	}
	li.hc-header-global-menu-item.hc-header-menu.btn.btn-default-languaje span
		{
		top: -22px;
		left: -30px;
	}
	.hc-header-global-toolbar {
		width: 100%;
		position: inherit;
		text-align: right;
		top: auto;
		right: auto;
	}
	.hc-header-global-toolbar .hc-header-global-menu-item-mobile-button {
		display: inline-block;
	}
	.hc-header-global-menu {
		padding: 1em;
		position: absolute;
		z-index: 5;
		top: 55px;
		right: 20px;
		width: 200px;
		text-align: left;
		background: white;
	}
	ul.hc-header-global-toolbar li {
		padding: 7px;
	}
	.hc-header-global-menu .hc-header-global-menu-item {
		display: block;
		margin-left: 0px;
	}
	.top-strip {
		text-align: right;
		margin-top: 20px;
	}
	.hc-header-logo {
		float: left;
	}

	/*home*/
	.hc-home-newsletter-box {
		font-size: 0.8em;
	}
	.hc-home-newsletter-box>form {
		display: block;
		width: 100%;
		height: auto;
		text-align: center;
	}
	.hc-home-newsletter-box .email-input {
		font-size: 1.2em;
		width: 90%;
		max-width: 20em;
		display: block;
		padding: 0.55em 1.2em;
		margin-left: auto;
		margin-right: auto;
	}
	.hc-home-newsletter-box .submit-btn {
		width: 30%;
		display: block;
		margin: 0.5em auto 0 auto;
	}

	/*footer*/
	.bottom-strip p {
		display: block;
		width: 100%;
		text-align: center;
		float: none;
	}
	.hc-footer-social-icons li {
		display: inline-block;
		float: none;
		width: 30px;
		height: 30px;
		padding: 3px;
	}
	.hc-footer-social-icons .fa {
		font-size: 1em;
	}
	.bottom-strip .content p {
		margin: 100px 0px 53px;
		text-align: center;
	}
	ul.hc-footer-social-icons {
		margin: 0 auto;
		display: inline-flex;
	}
	.bottom-strip .content p {
		margin: 0 auto;
		text-align: center;
	}
}