/**************************************************************************
 Inputtext
***************************************************************************/
.ui-inputfield{
    border: 1px rgba( 0,0,0,0.6) solid;
    font-weight: 300 !important;
    color: black;
    font-size: 0.98em;
}
.ui-outputlabel{
    font-weight: 300;
    color: black;
    font-size: 0.98em;
}
::-webkit-input-placeholder { color:#020202 !important;     font-size: 0.98em; font-weight: bolder !important;}
::-moz-placeholder { color:#020202 !important;     font-size: 0.98em; font-weight: bolder !important;} /* firefox 19+ */
:-ms-input-placeholder { color:#020202 !important;     font-size: 0.98em; font-weight: bolder !important;} /* ie */
input:-moz-placeholder { color:#020202 !important;     font-size: 0.98em; font-weight: bolder !important;}

.ui-menu.ui-widget{
    background: #f0f0f0;
}