<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="DEBUG" name="XMLConfigTest"
	packages="org.apache.logging.log4j.test">
	<Properties>
		<Property name="filename-info">hallocasa.log</Property>
		<Property name="filename-debug">hallocasa-debug.log</Property>
		<Property name="logspath">${logsdir}</Property>
	</Properties>
	<Appenders>
		<RollingFile name="main-log" fileName="${logspath}/${filename-info}"
			filePattern="${logspath}/%d${MMMM}/${filename-info}.%d{ddMMyyyy}">
			<PatternLayout pattern="%d{dd-MMM-yyyy HH:mm:ss} %p %l %m %n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
			</Policies>
		</RollingFile>
		<RollingFile name="debug-log" fileName="${logspath}/${filename-debug}"
			filePattern="${logspath}/%d{MMMM}/${filename-debug}.%d{ddMMyyyy}">
			<PatternLayout pattern="%d{dd-MMM-yyyy HH:mm:ss} %p %l %m %n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="debug-log" level="DEBUG" />
			<AppenderRef ref="main-log" level="INFO" />
		</Root>
	</Loggers>
</Configuration>

