<md-card class="property-card detail-view">
  <div class="header">
    <div class="price highlight-text" ng-bind-html="vm.property.price | dynamicCurrency" md-whiteframe="2"></div>

    <div class="imageContainer">
      <carousel images="vm.property.images"></carousel>
    </div>
  </div>
  <md-card-title>
    <md-card-title-text>
      <div layout="row" layout-wrap>
        <div layout="column" flex-gt-sm="25" flex-gt-xs="50" flex-xs="50">
          <span class="md-subhead">{{'hallocasa.propertyfield.country' | translate}}</span>
          <span>
            <b class="highlight-text">{{vm.property.country.lang | translate}}</b>
          </span>
        </div>
        <div layout="column" flex-gt-sm="25" flex-gt-xs="50" flex-xs="50">
          <span class="md-subhead">{{'hallocasa.propertyfield.propertytype' | translate}}</span>
          <span><b class="highlight-text">
            {{vm.property.type | translate}}</b>
          </span>
        </div>
        <div layout="column" flex-gt-sm="25" flex-gt-xs="50" flex-xs="50">
          <span class="md-subhead">{{'hallocasa.propertyfield.squaremeterstotal' | translate}}</span>
          <span>
            <b class="highlight-text">{{vm.property.squareMeters | number}} m²</b>
          </span>
        </div>
        <div layout="column" flex-gt-sm="25" flex-gt-xs="50" flex-xs="50">
          <span class="md-subhead">{{'hallocasa.propertyfield.propertyproposal' | translate}}</span>
          <span>
            <b class="highlight-text">{{vm.property.propertyProposal | translate}}</b>
          </span>
        </div>
      </div>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <fields-interpreter
      field-list="vm.fieldsRender"
      field-root-scope="vm.fieldsRender"
      additional-parameters="vm.formatedPropertyDeterminants"
      readonly="true"
      flex
    ></fields-interpreter>
  </md-card-content>
</md-card>
