<md-card class="property-card" ng-class="{'options': vm.propertyShowOptions}">
  <div class="header">
    <div class="price" ng-bind-html="property.price | dynamicCurrency" md-whiteframe="2"></div>
    <div class="image" ng-style="{background: 'url(' + property.image + ')'}">
    </div>
  </div>
  <md-card-title>
    <md-card-title-text>
      <h2 class="title">{{property.title.data2.strVal}}</h2>
      <h2 class="subtitle">{{property.type | translate}}</h2>
    </md-card-title-text>
  </md-card-title>
  <md-card-content layout="row">
    <b>
      <md-icon md-svg-icon="squaremeters"></md-icon>
      {{property.squareMeters}}
    </b>
    <span flex></span>
    <span>{{property.country.name}}</span>
  </md-card-content>
  <md-card-actions layout="row" layout-align="start center">
    <md-button ng-click="vm.viewProperty($event, property)" ng-if="vm.propertyShowOptions.view">{{'Properties.view.label' | translate}}</md-button>
    <md-button ng-click="vm.editProperty($event, property)" ng-if="vm.propertyShowOptions.edit">{{'Properties.edit.label' | translate}}</md-button>
    <md-button ng-click="vm.deleteProperty($event, property)" ng-if="vm.propertyShowOptions.delete">{{'Properties.delete.label' | translate}}</md-button>
  </md-card-actions>
</md-card>
