<md-card>
  <md-card-title layout="row" layout-align="space-between start">
    <md-card-title-media>
      <div class="md-media-lg card-media">
        <img flex ng-src="{{ vm.validateImage(property.images[0]) || 'assets/images/property/default.jpg' }}" alt="{{ property.name }}">
      </div>
      <span flex></span>
    </md-card-title-media>
    <md-card-title-text>
      <span class="md-headline">
        <b>{{property[property.mainLanguage].title}}</b>
      </span>
      <span class="md-subhead">
        {{property.propertyType}}
      </span>
      <span>
        <b>{{property.price | number}} {{property.currency}}</b>
      </span>
      <span class="md-subhead">
        {{property.meters}} m²
      </span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <p>
      {{property.description[property.mainLanguage].propertyDescription}}
    </p>
  </md-card-content>
  <md-card-actions layout="row" layout-align="start center">
    <md-button ng-click="vm.viewProperty($event, property)" ng-if="vm.propertyShowOptions.view">{{'Properties.view.label' | translate}}</md-button>
    <md-button ng-click="vm.editProperty($event, property)" ng-if="vm.propertyShowOptions.edit">{{'Properties.edit.label' | translate}}</md-button>
    <md-button ng-click="vm.deleteProperty($event, property)" ng-if="vm.propertyShowOptions.delete">{{'Properties.delete.label' | translate}}</md-button>
  </md-card-actions>
</md-card>
