<md-card ng-class="{'property-card': !vm.propertyShowOptions, 'property-card-options': vm.propertyShowOptions}">
  <md-card-title layout="row" layout-align="space-between start">
    <md-card-title-media>
      <div class="md-media-lg card-media">
        <img flex ng-src="{{property.image}}" alt="{{ property.title.data2.strVal }}" spinkit-image-preloader='cube-grid-spinner'>
      </div>
      <span flex></span>
    </md-card-title-media>
    <md-card-title-text>
      <span class="md-headline">
        <b>{{property.description.data2.strVal}}</b>
      </span>
      <span class="md-subhead">
        {{property.type | translate}}
      </span>
      <span>
        <b>{{property.price | dynamicCurrency}}</b>
      </span>
      <span class="md-subhead">
        {{property.squareMeters}} m²
      </span>
    </md-card-title-text>
  </md-card-title>

  <md-card-actions layout="row" layout-align="start center">
    <md-button ng-click="vm.viewProperty($event, property)" ng-if="vm.propertyShowOptions.view">{{'Properties.view.label' | translate}}</md-button>
    <md-button ng-click="vm.editProperty($event, property)" ng-if="vm.propertyShowOptions.edit">{{'Properties.edit.label' | translate}}</md-button>
    <md-button ng-click="vm.deleteProperty($event, property)" ng-if="vm.propertyShowOptions.delete">{{'Properties.delete.label' | translate}}</md-button>
  </md-card-actions>
</md-card>
