<div ng-if="!vm.userData.profile.services || vm.userData.profile.services.length === 0">
  <md-card>
    <md-card-content>
      <h1>
        {{'Profile.Message.noServices' | translate}}
      </h1>
    </md-card-content>
  </md-card>
</div>

<div ng-if="vm.userData.profile.services.length > 0">
  <md-card>
    <md-card-content>
      <h1 ng-if="vm.userData.properties.length === 0">
        {{'Properties.none.property' | translate}}
      </h1>

      <div ng-if="vm.userData.properties.length > 0">
        <div layout="row" layout-sm="column" layout-wrap>
          <div dir-paginate="property in vm.userData.properties | itemsPerPage: 12" flex-gt-sm="30" flex-gt-xs="45" flex-xs="100">
            <div
              ng-include="'app/property/templates/properties-card.html'"
              ng-click="vm.viewProperty($event, property)"
              style="cursor: pointer"
            ></div>
          </div>
        </div>
        <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
      </div>
    </md-card-content>
  </md-card>
</div>
