<md-dialog aria-label="property form" flex="80">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{vm.title | translate}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.closeDialog()">
        <i class="material-icons">close</i>
      </md-button>
    </div>
  </md-toolbar>

  <form
    name="propertyForm"
    ng-submit="propertyForm.$valid && vm.save()"
    form-validation
    tab-list="vm.fieldsRender"
    novalidate
  >
    <md-dialog-content>
      <md-content class="md-padding">
        <div ng-show="vm.currentState === vm.state.WIZARD_1">
          <ng-include src="'app/property/form/tabs/property-information.html'"></ng-include>
        </div>

        <div ng-show="vm.currentState === vm.state.WIZARD_2">
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab
              ng-repeat="tab in vm.fieldsRender"
              ng-click="vm.handleTabLocation(tab.name, $index)"
              md-active="tab.isActive"
              md-on-deselect="tab.isActive = false"
              md-swipe-content
              md-center-tabs
            >
              <md-tab-label>
                <span ng-bind-html="tab.lang | translate"></span>
                <span ng-show="tab.required === true">*</span>
              </md-tab-label>
              <md-tab-body>
                <md-content>
                  <ng-form name="{{tab.name}}" ng-init="fieldRendered = false">
                    <div layout="row" layout-align="center" ng-if="!fieldRendered">
                      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                    <fields-interpreter
                      field-list="tab.fieldList"
                      form-name="tab.name"
                      field-root-scope="vm.fieldsRender"
                      additional-parameters="vm.formatedPropertyDeterminants"
                      readonly="false"
                      field-rendered="fieldRendered"
                      ng-show="fieldRendered"
                      ng-cloak
                      flex
                    ></fields-interpreter>
                  </ng-form>
                </md-content>
              </md-tab-body>
            </md-tab>
          </md-tabs>
          <div layout="row" layout-align="center" ng-if="!vm.fieldsRender">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>
          <div>
            <md-button ng-click="vm.closeDialog()">{{'Properties.wizard.cancel.label' | translate}}</md-button>
            <md-button ng-click="vm.changeTab('Back')" ng-disabled="vm.previousDisabled" ng-if="!vm.editMode">
              {{'Common.Label.Back' | translate}}
            </md-button>
            <md-button ng-click="vm.changeTab('Next')" ng-disabled="vm.nextDisabled" ng-if="!vm.editMode">
              {{'Common.Label.Next' | translate}}
            </md-button>
            <md-button type="submit" ng-if="vm.showSubmit" ng-disabled="vm.buttonSaveStatus">
              {{'property.wizard.save' | translate}}
            </md-button>
          </div>
        </div>
      </md-content>
    </md-dialog-content>
  </form>
</md-dialog>
