<md-content>
  <div layout="row">
    <md-button class="md-raised md-primary" ng-click="vm.toggleFilters()">
      {{'PropertyBrowse.Filters' | translate}}
    </md-button>
    <span flex></span>
    <md-input-container>
      <md-select ng-model="vm.propertiesPerPage" aria-label="properties per page">
        <md-option ng-repeat="amount in vm.totalAmount" ng-value="amount">{{amount}}</md-option>
      </md-select>
    </md-input-container>
  </div>

  <h1 ng-if="vm.properties.length === 0 && !vm.firstLoading">
    {{'Properties.none.property' | translate}}
  </h1>

  <div layout="row" layout-align="center" ng-show="vm.firstLoading" >
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <div layout="column" layout-align="center center">
    <div class="landing-cards-group">
      <div ng-if="vm.properties.length > 0">
        <div layout="row" layout-sm="column" layout-align="center" layout-wrap>
          <div
            dir-paginate="property in vm.properties | itemsPerPage: vm.propertiesPerPage"
            flex-gt-sm="33"
            flex-gt-xs="50"
            flex-xs="100"
            total-items="vm.totalProperties"
            current-page="vm.pagination.current"
          >
            <div flex="100" layout="row" layout-align="center">
              <a
                ng-include="'app/property/templates/properties-card.html'"
                ng-href="/property?id={{property.id}}"
                class="disable-hyperlinks-style"
                scroll-on-click
              ></a>
            </div>
          </div>
        </div>
        <div layout="row" layout-margin layout-align="center center">
          <dir-pagination-controls boundary-links="true" on-page-change="vm.loadPropertiesPage(newPageNumber)"></dir-pagination-controls>
        </div>
      </div>
    </div>
  </div>
</md-content>


<md-sidenav class="md-sidenav-left md-whiteframe-z2 inner-view-sidenav" md-component-id="propertyFilters">
  <md-toolbar class="md-whiteframe-4dp">
    <h1 class="md-toolbar-tools">
      <span>{{'PropertyBrowse.Filters' | translate}}</span>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.toggleFilters()" aria-label="close">
        <i class="fa fa-close"></i>
      </md-button>
    </h1>
  </md-toolbar>
  <md-content layout-padding ng-init="filtersRendered = false">
    <div layout="row" layout-align="center" ng-if="!filtersRendered">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <filters-interpreter
      filters-list="vm.filters"
      filters-root-scope="vm.filters"
      filters-rendered="filtersRendered"
      flex
      ng-cloak
    ></filters-interpreter>
  </md-content>
</md-sidenav>
