<md-content layout-padding>
  <div layout="row" layout-align="space-between center" layout-wrap>
    <md-button class="md-raised md-primary" ng-click="vm.openFiltersDialog($event)" flex-order-xs="1">
      {{'PropertyBrowse.Filters' | translate}}
    </md-button>
    <div ng-if="vm.totalProperties > 0" flex-order-xs="3">
      <b>{{vm.totalProperties}}</b>
      <span>{{'PropertiesFilters.PropertiesCount' | translate}}</span>
    </div>
    <span flex="5" flex-xs="none" flex-order-xs="5"></span>
    <div ng-if="vm.totalProperties > 0" flex-order-xs="4">
      <b>{{'PropertiesFilters.SortBy' | translate}}:</b>
      <md-input-container>
        <label translate>{{'propertyWizardPage.property.PublishDate'}}</label>
        <md-select
          title="{{'propertyWizardPage.property.PublishDate' | translate}}"
          ng-model="vm.order.publishDate"
          aria-label="Order by publish date"
          placeholder="{{'propertyWizardPage.property.PublishDate' | translate}}"
          ng-change="vm.sortProperties()"
        >
          <md-option ng-value="'mostRecent'" translate>
            {{'PropertiesFilters.orderBy.mostRecent'}}
          </md-option>
          <md-option ng-value="'lessRecent'" translate>
            {{'PropertiesFilters.orderBy.lessRecent'}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <span flex flex-xs="none" flex-order-xs="6"></span>
    <md-input-container flex-order-xs="2">
      <md-select ng-model="vm.propertiesPerPage" aria-label="properties per page">
        <md-option ng-repeat="amount in vm.totalAmount" ng-value="amount">{{amount}}</md-option>
      </md-select>
    </md-input-container>
  </div>

  <h1 ng-if="vm.properties.length === 0 && !vm.firstLoading">
    {{'Properties.none.property' | translate}}
  </h1>

  <div layout="row" layout-align="center" ng-show="vm.firstLoading" >
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <div layout="column" layout-align="center center">
    <div class="landing-cards-group">
      <div ng-if="vm.properties.length > 0">
        <div layout="row" layout-sm="column" layout-align="center" layout-wrap>
          <div
            dir-paginate="property in vm.properties | itemsPerPage: vm.propertiesPerPage"
            flex-gt-sm="33"
            flex-gt-xs="50"
            flex-xs="100"
            total-items="vm.totalProperties"
            current-page="vm.pagination.current"
          >
            <div flex="100" layout="row" layout-align="center">
              <a
                ng-include="'app/property/templates/properties-card.html'"
                ng-href="/property?id={{property.id}}"
                class="disable-hyperlinks-style"
                scroll-on-click
              ></a>
            </div>
          </div>
        </div>
        <div layout="row" layout-margin layout-align="center center">
          <dir-pagination-controls boundary-links="true" on-page-change="vm.changePage(newPageNumber)"></dir-pagination-controls>
        </div>
      </div>
    </div>
  </div>
</md-content>

<div style="visibility: hidden">
  <div class="md-dialog-container" id="propertyFilters">
    <md-dialog>
      <md-content layout-padding>
        <div layout="row" layout-align="end center">
          <md-button ng-click="vm.closeFiltersDialog()" class="md-raised">
            {{'Common.Label.Cancel' | translate}}
          </md-button>
          <md-button ng-click="vm.clearFilters()" class="md-raised">
            {{'placeholder.clear' | translate}}
          </md-button>
          <md-button ng-click="vm.search()" class="md-raised md-primary">
            {{'placeholder.search' | translate}}
          </md-button>
        </div>
        <div layout="row" layout-align="center" ng-if="!vm.filtersRendered">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <filters-interpreter
          filters-list="vm.filters"
          filters-root-scope="vm.filters"
          filters-rendered="vm.filtersRendered"
          additional-parameters="vm.additionalParameters"
          ng-cloak
        ></filters-interpreter>
        <div layout="row" layout-align="end center">
          <md-button ng-click="vm.closeFiltersDialog()" class="md-raised">
            {{'Common.Label.Cancel' | translate}}
          </md-button>
          <md-button ng-click="vm.clearFilters()" class="md-raised">
            {{'placeholder.clear' | translate}}
          </md-button>
          <md-button ng-click="vm.search()" class="md-raised md-primary">
            {{'placeholder.search' | translate}}
          </md-button>
        </div>
      </md-content>
    </md-dialog>
  </div>
</div>
